@model IEM.Areas.MASTERS.Models.iem_mst_branchtype
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="myTableStyle">
       

        <tr>
            <td>
                <div id="txtTypeName">
                    <span> Branch Type</span>
                    <br />
                    <input name="CategoryName" id="_Branchtype" type="text" class="textboxStyle required" style="width:236px;height:30px;" maxlength="16" data-val="true" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:0px;">
                <span> Active</span>
                <br />
                <input type="radio" id="Yes" value="Y" checked="checked" name="Radiotypename">
                Yes &nbsp;
                <input type="radio" id="No" value="N" name="Radiotypename">
                No
            </td>

        </tr>
    </table>
    <br />
    <div>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div>
                        <button type="button" id="_save" disabled="disabled" value="Save" class="btn btn-primary" onclick="SaveCategoryName()"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" value="Cancel" class="btn btn-warning" onclick="GotoIndex()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#_Branchtype").focus();
        });

        $("#_Branchtype").focus();
        $("#_Branchtype").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_Branchtype").focus();
        $("#_Branchtype").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
    });

    $("#_Branchtype").keyup(function () {
        var txtSupplierName = $("#_Branchtype").val();
            if (txtSupplierName.trim() != "")
            {
                $("#_Branchtype").removeClass('required');
                $("#_Branchtype").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#_Branchtype").removeClass('valid');
                $("#_Branchtype").addClass('required');
                CheckFieldsHeader();
            }
        });
       

</script>
<script type="text/javascript">
    function SaveCategoryName() {
        var branchtype = $("#_Branchtype").val().trim();
        var active = $('input[name=Radiotypename]:checked').val();       
       
        var CategoryModel = { "branchtype_name": branchtype, "branchtype_active": active };
        $.post('../IEM_MST_BRANCHTYPE/create', CategoryModel,
                function (data) {
                    if (data != "success") {
                        jAlert(data, "Information", function (r) {
                            if (r = true) { return false; }
                        });
                    }
                    else {
                        jAlert("Record Inserted Successfully!!!", "Information", function (r) {
                            if (r = true) { location = '../IEM_MST_BRANCHTYPE/Index'; }
                        });

                    }
                }
            , 'json');

    }

        function GotoIndex() {

            window.parent.jQuery('#ForPartialViewBrType').dialog('close');
        }


        function CheckFieldsHeader() {

            var ErrCount = 0;
            if ($("#_Branchtype").val().trim() == "" || $("#_Branchtype").val() == null) {
                ErrCount = 1;
            }           

            if (ErrCount == 0) {
                $("#_save").removeAttr('disabled');
            }
            else {
                $("#_save").attr('disabled', 'disabled');
            }
        }


</script>







