
<style>
    .tblstyle tr td {
        padding: 10px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <table class="tblstyle">
            <tr>
                <td nowrap="nowrap">
                    <div>
                        Employee Code
                    </div>
                    <div class="input-append">
                        <input type="text"
                               id="EmployeeCode"
                               name="txtEmpcode"
                               value="@Session["EmployeeCode"]"
                               class="form-control"
                               style="display: block"
                               placeholder="Enter EmpCode" />
                    </div>
                </td>
                <td>
                    <a title="view"><span class="glyphicon glyphicon-search" style="margin: 48px 19px 28px 9px;"></span></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="button" style="margin:-24px 57px 10px 25px;" class=" btn btn-primary" value="Edit" onclick="Edit()" />
                    <input type="button" style="margin:-24px 70px 9px -47px;" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" />
                </td>
            </tr>
        </table>
    </div>
}
<script type="text/javascript">
        function Edit() {
            var EmployeeCode = $("#EmployeeCode").val();
            if (EmployeeCode == null || EmployeeCode == "")
            {
                alert("You Can't Add Empty Values");
                return;
            }
            var Student = {
                "EmployeeCode": EmployeeCode
            };
            $.ajax({
                url: '../RoleEmployee/Edit',
                data: JSON.stringify(Student),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    isSuccess = result;
                    alert(result);
                },

                error: function (result) {
                    isSuccess = result;
                }
            })
            .done(function () {
                if (isSuccess == "Successfully Edited") {
                    MapEmployee();
                }
            });
        }
        function GotoIndex() {
            window.parent.jQuery('#ForPartialView1').dialog('close');
        }
    </script>
