@model IEnumerable<IEM.Areas.EOW.Models.InexDataModel>
@{

    WebGrid grid = new WebGrid(source: Model, canSort: false, canPage: true);
    int rowVal = 0;
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<div style="margin-top:17px; padding-right:23px;" id="mainll" class="overflowx overflowy">
    @functions {
        public static string Sorter(string columnName, string columnHeader, WebGrid grid)
        {
            return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                grid.SortDirection == SortDirection.Ascending ? "▲" :
                "▼" : string.Empty);
        }
    }
    @grid.GetHtml(
                tableStyle: "tableSmall table-bordered table-hover table-responsive ",
                columns: grid.Columns
                (
                  grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1),
                  grid.Column("SupplierorEmployee", Sorter("SupplierorEmployee", "Supplier/Employee", grid), style: "tblstyle"),
                  grid.Column("SupplierorEmployeename", Sorter("SupplierorEmployeename", "Supplier/Employeename", grid)),
                  grid.Column("ECFRaiser", Sorter("ECFRaiser", "ECF Raiser", grid)),
                  grid.Column("DocTypeName", Sorter("DocTypeName", "Doc Type Name", grid)),
                  grid.Column("DocSubTypeName", Sorter("DocSubTypeName", "Doc SubType Name", grid)),
                  grid.Column("CreateMode", Sorter("CreateMode", "Create Mode", grid)),
                  grid.Column("ClaimMonth", Sorter("ClaimMonth", "Claim Month", grid)),
                  grid.Column("ECFAmount", Sorter("ECFAmount", "ECF Amount", grid)),
                  grid.Column("Despatchdate", Sorter("Despatchdate", "Despatch date", grid)),
                  grid.Column("CourierName", Sorter("CourierName", "Courier Name", grid)),
                  grid.Column("AWBNo", Sorter("AWBNo", "AWBNo", grid)),
                  grid.Column("ECFStatus", Sorter("ECFStatus", "ECF Status", grid)),
                  grid.Column("CancelBy", Sorter("CancelBy", "Cancel By", grid)),
                  grid.Column("CancelDate", Sorter("CancelDate", "Cancel Date", grid))
                  )))
</div>
<table class="myTableStyleTabNew" align="center">
    <tr>
        <td>
            <div>
                <button type="button" class="btn btn-danger" value="Cancel" onclick="Update()"><span style="color:white;" class="glyphicon glyphicon-trash"></span>Inex</button>
            </div>
        </td>
        <td>
            <div>
                <button type="button" class="btn btn-danger" value="Cancel" onclick="Reject()"><span style="color:white;" class="glyphicon glyphicon-trash"></span>Reject</button>
            </div>
        </td>
        <td>
            <div>
                <button type="button" class="btn btn-warning" value="Close" onclick="Cancel()"> <span style="color:white;" class="glyphicon glyphicon-remove"></span>Close</button>
            </div>
        </td>
    </tr>
</table>
<script>
    function Update()
    {
        var DocGrpID = $("#DocGrpID").val();
        var DocGrpModel = {
            "docGrpID": DocGrpID
        };
        jConfirm("Do you want to Inex This Supplier? ", "Inex Submission", function (j) {
            if (j == true) {
                $.post('../Inex/InexUpdate', DocGrpModel,
                     function (data) {
                         if (data == "inex succesfully") {
                             jAlert("Record Inex Successfully!!!", "Information", function (r)
                             {
                                 if (r = true)
                                 {
                                     location = '../Inex/Index';
                                 }
                             });
                         }
                     }, 'json');
            }
            else
            {
                return false;
            }
        });
    }
    function Reject() {
        var DocGrpID = $("#DocGrpID").val();
        var DocGrpModel = {
            "docGrpID": DocGrpID
        };
        jConfirm("Do you want to Reject This Supplier? ", "Inex Submission", function (j) {
            if (j == true) {
                $.post('../Inex/InexReject', DocGrpModel,
                     function (data) {
                         if (data == "Reject succesfully") {
                             jAlert("Record Rejected Successfully!!!", "Information", function (r) {
                                 if (r = true) {
                                     location = '../Inex/Index';
                                 }
                             });
                         }
                     }, 'json');
            }
            else {
                return false;
            }
        });
    }
    function Cancel() {
        objDialogyInexSubmission.remove();
    }
</script>