

<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabshistory").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

</script>
<div>
    <div id="tabshistory">
        <ul>
            <li><a href="#tabshistory-1">Approval History</a></li>
            @*<li><a href="#tabshistory-2" disabled="disabled">Deviation Approval</a></li>
                <li><a href="#tabshistory-3">Upcoming  Approval</a></li>*@
            @*<li><a href="#tabshistory-4">Central Team</a></li>*@
        </ul>
        <div id="tabshistory-1">
            @Html.Partial("tab_ApprovalHistoryall")
        </div>
        @*<div id="tabshistory-2">
                <br /><br /><br /><br /><br />
            </div>
            <div id="tabshistory-3">
                @Html.Partial("tab_UpcomingApproval")
            </div>*@
        @*<div id="tabshistory-4">
                <br /><br /><br /><br /><br />
            </div>*@
    </div>
</div>






