@model  IEM.Areas.EOW.Models.TravelClassEntity
@{
    ViewBag.Title = "Index";

}
@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew">
        <tr>
            <td style="padding-left:24px">
                <span>Travel Class</span>
                <br />
                <div>
                    <input type="text"
                           name="TravelClass"
                           id="TravelClassIdEdit"
                           value="@Model.TravelClass"
                           class="textboxStyle valid"
                           readonly="readonly"
                           style="display: block;width:250px;height: 30px;"
                           placeholder="Enter Mode Of Travel" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left:24px">
                <span>Mode Of Travel</span>
                <br />
                <div>
                    <select name="TravelModeId" id="TravelModeIdView" class=" form-control" style="width:250px;margin-top: 5px;height:30px;">
                        <option value="0">Select</option>
                        @foreach (var pitem in Model.listofdata)
                        {
                            var childitemfilter = Model.listofdata.Where(m => m.Value == pitem.Value);
                            if (childitemfilter != null)
                            {
                                foreach (var citem in childitemfilter)
                                {
                                    string selectedValue = "";
                                    if (Model.TravelModeId.ToString() == citem.Value)
                                    {
                                        selectedValue = "selected='selected'";
                                    }

                                    <option value="@citem.Value" @selectedValue>@citem.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </td>
    </table>
    <br />
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div>
                    <button type="button" class="btn btn-warning" value="Close" onclick="goToIndex()"> <span style="color:white;" class="glyphicon glyphicon-remove"></span>Close</button>
                </div>
            </td>
        </tr>
    </table>

}
<script>
    $(document).ready(function () {
        $('#TravelModeIdView').attr('disabled', true);

    });
    function goToIndex() {
        window.parent.jQuery('#ForPartialViewMode').dialog('close');
        location = '../TravelClass/TravelIndex';
    }
</script>