@model  IEM.Areas.EOW.Models.ModeOfTravelEntity
@{
    ViewBag.Title = "Index";

}
@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew">
        <tr>
            <td>
                <span>Mode Of Travel </span>
                <br />
                <input type="text"
                       name="ModeOfTravel"
                       id="ModeOfTravelIdEdit"
                       value="@Session["TravelName"]"
                       class="textboxStyle valid"
                       style="display: block;width:306px"
                       readonly="readonly"
                       maxlength="16" />
            </td>
        </tr>
        <tr>
            <td style="padding-top:16px;">
                @if (@ViewBag.Modeflag == 'Y'.ToString())
                {
                    <input type="checkbox" id="chkid" class="chkclass" value="Distance/Rate" disabled="disabled" checked="checked" title="Distance/Rate" /><span style="padding-left:15px">Distance/Rate</span>
                }
                else
                {
                    <input type="checkbox" id="chkid" class="chkclass" disabled="disabled" value="Distance/Rate" title="Distance/Rate" /><span style="padding-left:15px">Distance/Rate</span>
                }
            </td>
        </tr>
    </table>
    <br />
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div>
                    <button type="button" class="btn btn-danger" value="Delete" onclick="Delete()"> <span class="glyphicon glyphicon-trash" style="color:white;"></span>Delete</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" class="btn btn-warning" value="Close" onclick="goToIndex()"> <span style="color:white;" class="glyphicon glyphicon-remove"></span>Close</button>
                </div>
            </td>
    </table>
}
<script>
  
    function goToIndex() {
        window.parent.jQuery('#ForPartialViewMode').dialog('close');
        $('#gridModeOfTravelid').find('tr').css('background', 'none');
    }
    $(".ui-icon-closethick").click(function () {
        $('#gridModeOfTravelid').find('tr').css('background', 'none');
    });
    function Delete() {
        var DocGrpID = $("#DocGrpID").val();
        var DocGrpModel = {
            "docGrpID": DocGrpID
        };
        jConfirm("Do you want to delete this Mode Of Travel ? ", "Delete Mode Of Travel ", function (j) {
            if (j == true) {
                $.post('../ModeOfTravel/ModeDelete', DocGrpModel,
                     function (data) {
                       
                         if (data == "Deleted") {
                             jAlert("Record Deleted Successfully!!!", "Information", function (r) {
                                 if (r = true) { location = '../ModeOfTravel/ModeIndex'; }
                             });
                         }
                         else
                         {
                             jAlert(data, "Information");
                         }
                     }, 'json');
            }
            else { return false; }
        });
    }
</script>
