@model  IEM.Areas.FLEXIBUY.Models.flexibuydashboard
@using IEM.Areas.FLEXIBUY.Models
@{
    flexibuydashboard sh = (flexibuydashboard)ViewBag.DashBoardheaderser;
}
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/angular.min.js"></script>

<div class="pageHeadingLayout">
    <span class="pageHeading">Search</span>
</div>
@using (Html.BeginForm())
{
    <div class="well">
        @Html.Partial("MyRequestGridforsearch")
    </div>
}

