@using IEM.Areas.FLEXIBUY.Models
@using IEM.Helper

<div ng-app="partrans">
    <fieldset>
        <div style="text-align:right;">
            <button class="btn btn-primary" id="reportDownloadExcel" value="Excel Download" name="command" onclick="exportexcel()" type="button" style="color:white;"><span style="color:white;" class="glyphicon glyphicon-export"></span> Excel</button>
        </div>
        <div ng-controller="cbfController">
            <div class="table-responsive">
                <table class="tableSmall table-bordered table-hover" width="100%" style="margin-top:10px;">
                    <thead>
                        <tr>
                            <th style="width:5%;">
                                SlNo
                            </th>
                            <th style="width:6%;">
                                Doc Type<br />
                                <input type="text" id="tetdoctype" class="textboxStyle" ng-model="search.category">
                            </th>
                            <th style="width:12%;">
                                Doc No<br />
                                <input type="text" class="textboxStyle" ng-model="search.docNo">
                            </th>
                            <th style="width:8%;">
                                Doc Date<br />
                                <input type="text" class="textboxStyle" ng-model="search.ddate">
                            </th>
                            <th style="width:18%;">
                                Raiser<br />
                                <input type="text" class="textboxStyle" ng-model="search.raiser">
                            </th>
                            <th style="width:15%;">
                                Description<br />
                                <input type="text" class="textboxStyle" ng-model="search.description">
                            </th>
                            <th style="width:7%;">
                                Status<br />
                                <input type="text" class="textboxStyle" ng-model="search.status">
                            </th>
                            <th style="width:10%;">
                                Amount<br />
                                <input type="text" class="textboxStyle" ng-model="search.amount">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partrans_details in partrans_details | filter:search:strict | orderBy:predicate:reverse">
                            <td align="center">
                                {{$index+1}}
                            </td>
                            <td>
                                {{partrans_details.category}}
                            </td>
                            <td>
                                {{partrans_details.docNo}}
                            </td>
                            <td>
                                {{partrans_details.ddate}}
                            </td>
                            <td>
                                {{partrans_details.raiser}}
                            </td>
                            <td>
                                {{partrans_details.description}}
                            </td>
                            <td>
                                {{partrans_details.status}}
                            </td>
                            <td>
                                {{partrans_details.amount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript">
    var myApp = angular.module('partrans', []);
    myApp.service("partranService", function ($http) {
        this.getparDetailsList = function () {
            return $http.get("../SearchFilter/GetparDetails?" + new Date().getTime());
        };
    });
    myApp.controller('cbfController', function ($scope, partranService) {
        GetparDetails();
        function GetparDetails() {
            var getData = partranService.getparDetailsList();
            getData.then(function (emp) {
                $scope.partrans_details = emp.data;
            }, function () {
                alert('Error');
            });
        }
    });
    function exportexcel() {
        location = "../SearchFilter/downloadsexcel?" + new Date().getTime();

    }
</script>