@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>


<b>

    <span id="spanFinal" style="color: rgb(52, 108, 196);">Asset Clearing Report</span>
</b>
<div class="well">
    <div ng-app="angularapprpt">
        <div ng-controller="depcontroller" id="tabsapprvallist" style="font-size:12px; height: 750px;">
      
            <div style="padding: 10px 4px 3px 15px;">
                <br />
                <div class="myTableStyleTabNew row col-sm-9">
                    <span>Search</span><br />
                    <input ng-model="searchwoo.$" class="textboxStyle" placeholder="Enter Search Criteria..." style=" margin-bottom:5px;width:50%;" />

                </div>
                <table class="myTableStyleTabNew" align="right">
                    <tr>
                        <td>
                            <br />
                            @using (Html.BeginForm("ExportAssetClearing", "Report", FormMethod.Post))
                            { <button style="float:right" class="btn btn-primary" type="submit" id="btnexport" value="Export"
                                      name="command">
                                <span style="color:white;" class="glyphicon glyphicon-export"></span>
                                Export
                            </button>}
                        </td>
                    </tr>
                </table>
              
                <br />
                <div style="overflow-x:scroll;width:100%">
                    <table style="width:200%" class="tableSmall table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th style="width:1%;">
                                    S.No
                                </th>
                                <th style="width:3%;cursor:pointer;" ng-click="predicate = 'ECF_No'; reverse=!reverse">
                                    ECF No
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.ECF_No" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'Invoice_No'; reverse=!reverse">
                                    Invoice No.
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Invoice_No" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:7%;cursor:pointer" ng-click="predicate = 'Invoice_Amount'; reverse=!reverse">
                                    Invoice Amount
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Invoice_Amount" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Asset_Category'; reverse=!reverse">
                                    Asset Category
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Asset_Category" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:8%;cursor:pointer" ng-click="predicate = 'Asset_SubCategory_Code'; reverse=!reverse">
                                    Asset Sub Category
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Asset_SubCategory_Code" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Asset_Description'; reverse=!reverse">
                                    Asset Description
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Asset_Description" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:3%;cursor:pointer" ng-click="predicate = 'GL_Code'; reverse=!reverse">
                                    GL Code
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.GL_Code" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'Qunatity'; reverse=!reverse">
                                    Quantity
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Qunatity" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'Rate'; reverse=!reverse">
                                    Rate
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Rate" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Amount'; reverse=!reverse">
                                    Amount
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Amount" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Transaction_Type'; reverse=!reverse">
                                    Transaction Type
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Transaction_Type" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Shipment_Type'; reverse=!reverse">
                                    Shipment Type
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Shipment_Type" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:10%;cursor:pointer" ng-click="predicate = 'Branch'; reverse=!reverse">
                                    Branch Code
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Branch" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>
                                <th style="width:5%;cursor:pointer" ng-click="predicate = 'Satus'; reverse=!reverse">
                                    Status
                                    <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    <br />
                                    <input ng-model="searchwoo.Satus" class="textboxStyle"  style="margin-bottom:5px;" />
                                </th>

                            </tr>
                        </thead>
                        @*<tbody ng-show="filteredItemsWO > 0" ng-repeat="woparentdetail in woparentdetails | filter:searchwo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">*@
                        <tbody ng-show="filteredItemsfprRpt > 0" ng-repeat="rptCntler in rptCntler | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                            <tr>

                                <td style="width:1%;" align="center">
                                    {{$index+1}}
                                </td>
                                <td style="width:3%;">
                                    {{rptCntler.ECF_No}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Invoice_No}}
                                </td>
                                <td style="width:7%;">
                                    {{rptCntler.Invoice_Amount}}
                                </td>
                                <td style="width:10%;">
                                    {{rptCntler.Asset_Category}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Asset_SubCategory_Code}}
                                </td>
                                <td style="width:10%;">
                                    {{rptCntler.Asset_Description}}
                                </td>
                                <td style="width:3%;">
                                    {{rptCntler.GL_Code}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Qunatity}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Rate}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Amount}}
                                </td>
                                <td style="width:10%;">
                                    {{rptCntler.Transaction_Type}}
                                </td>
                                <td style="width:10%;">
                                    {{rptCntler.Shipment_Type}}
                                </td>
                                <td style="width:10%;">
                                    {{rptCntler.Branch}}
                                </td>
                                <td style="width:5%;">
                                    {{rptCntler.Satus}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="filteredItemsfprRpt < 1">
                            <tr>
                                <td colspan="11" style="text-align:center">
                                    No Records Found
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div>
                    <div ng-show="filteredItemsfprRpt > 0">
                        <pagination page="currentPage" style="cursor:pointer;" boundary-links="true" class="pagination-sm" max-size="maxSize" total-items="filteredItemsfprRpt"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="currentPage" items-per-page="PerPageItems"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tablefix {
        table-layout: fixed;
        width: 100%;
    }

    .thfix, .tdfix {
        overflow: hidden;
    }
</style>

<script type="text/javascript">



    function Releasethings(element) {
        var row = $(element).closest('tr');
        var ecfnum = row.find('td:eq(0)').text();
        ecfnum = ecfnum.toString().trim();
        jConfirm("Are you sure to release the asset for Depreciation?", "Information", function (j) {
            if (j == true) {
                $.post('../Depreciation/DepreciationHold?command=release&assetgid=' + ecfnum + '&' + new Date().getTime(),
                 function (data) {
                     jAlert("Asset Released Successfully!", "Message", function (u) {
                         if (u == true) {
                             window.location.href = '@Url.Action("DepreciationHold", "Depreciation")?' + new Date().getTime();
                         }
                     });
                 }, 'json');
            } else { return false; }
        });
    }




    var Angularapprpt = angular.module('angularapprpt', ['ui.bootstrap']);

    Angularapprpt.service("newserviceheld", function ($http) {

        this.GetIfams = function () {
            var response = $http({
                method: "get",
                url: '@Url.Action("GetAssetClearing", "Report")?' + new Date().getTime(),
                dataType: "json"
            });
            return response;
        }

    });

    Angularapprpt.filter('Pagestart', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });

    Angularapprpt.controller('depcontroller', function ($scope, newserviceheld) {
        $scope.filteredItemsfprRpt = 0;
        $scope.PerPageItems = 20;
        $scope.maxSize = 5;
        $scope.currentPage = 1;
        getifamsdetailsheld();
        function getifamsdetailsheld() {
            var getData = newserviceheld.GetIfams();
            getData.then(function (response) {
                var Data0 = "";
                Data0 = JSON.parse(response.data.data0);
                $scope.rptCntler = Data0;
                $scope.filteredItemsfprRpt = $scope.rptCntler.length;
            });
        }
        //  $('#myRequestscount').text($scope.rptCntlers.length);
        //$scope.filter = function () {
        //    $scope.filteredItemsfprRpt = $scope.filtered.length;
        //    $scope.maxSize = Math.round($scope.filteredItemsfprRpt / $scope.PerPageItems);
        //};

    });

</script>
