@using IEM.Areas.ASMS.Models
@model IEM.Areas.ASMS.Models.DirectorModel
@{

}
<div style="padding:0;margin:0;">
    <table class="myTableStyleTabNew">
        <tr id="divDirectorsHeadContent">
            <td>
                <span>Name Of The Director/Partner</span><br />
                <input type="text" name="txtDirectors" class="textboxStyle" id="txtDirectors" />
            </td>
            <td style="vertical-align:bottom">
                <button id="add-directors" onclick="adddirectors('0')" class="btn btn-primary"><span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span> Save</button>

            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var lnCnt;
    $(document).ready(function () {
        $("#txtDirectors").attr("maxlength", "128");
        $("#txtDirectors").keypress(function (event) {
            return isAlphabet(event);
        });
        lnCnt = 0;
    });
    function adddirectors(lnCnt) {

        //var GridRowsCount = parseInt($("#wgridDirectors tr").length) - 1;
        //var txtEnteredVal = parseInt($("#txtNoofDirectors").val());

        //if (GridRowsCount < txtEnteredVal) {
        var DirectorName = $("#txtDirectors").val();
        if (DirectorName == "" || DirectorName == null) {
            jAlert(ErrMsg_D1, Title_1, function () {
                $("#txtDirectors").focus();
            });
            return false;
        }
        var DirectorModel =
        {
            //"_DirectorsID": DirectorID,
            "_DirectorsName": DirectorName
        };
        if (lnCnt.toString() != "1") {
            $.ajax({
                url: '../Onboarding/InsertDirectors/',
                data: JSON.stringify(DirectorModel),
                type: 'POST',
                async: false,
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    lnCnt = 1;
                    $("#divFindDierctors").load("../Onboarding/FindDirectors?" + new Date().getTime());
                    $("#txtDirectors").val("");

                }
            });
        }

    }
    //else {
    //    jAlert(ErrMsg_D3, Title_1);

    //    return false;
    //}

</script>