@using IEM.Areas.ASMS.Models;
@using IEM.Common
@model IEnumerable<IEM.Areas.ASMS.Models.SupAttachment>
@{
    SupDataModel objd = new SupDataModel();
    List<SupAttachment> lst = new List<SupAttachment>();

    if (lst == null || lst.Count == 0)
    {
        lst = objd.GetSupAttachment().ToList();
    }
    if (lst.Count == 0)
    {
        ViewBag.NoRecordsFound = "No Records Found";
    }
   
}
<center>
    <div id="wgSupAttachmentConfirm">
        @{
            CmnFunctions objCmnFunctions = new CmnFunctions();
            var grid = new WebGrid(lst, canSort: true, canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "wgSupAttachmentConfirm", ajaxUpdateCallback: "DummyFunction95()");
            int rowcount = 0;
        }

        <div class="overflowx">
            <div>
                @grid.GetHtml(
                        htmlAttributes: new { id = "wgridSupAttachmentConfirm" },
                        tableStyle: "tableSmall table-bordered",
                        mode: WebGridPagerModes.All,
                        columns:
                grid.Columns(
                        grid.Column("S.No", style: "IdColumn", format: item => rowcount = rowcount + 1, canSort: false),
                        grid.Column("_SupDocumentGroupName", objCmnFunctions.Sorter("_SupDocumentGroupName", "Document Group", grid)),
                        grid.Column("_SupDocumentName", objCmnFunctions.Sorter("_SupDocumentName", "Document Name", grid)),
                        grid.Column("_SupAttachedFileName", objCmnFunctions.Sorter("_SupAttachedFileName", "File Name", grid), format: @<text> <a href="../Onboarding/DownloadDocument?id=@item._SupAttachedFileName" title='click here to download'> @item._SupAttachedFileName </a></text>),
                        grid.Column("_SupAttachDescription", objCmnFunctions.Sorter("_SupAttachDescription", "Description", grid)),
                        grid.Column("_SupAttachDate", objCmnFunctions.Sorter("_SupAttachDate", "Attachment Date", grid))
                      
                                                              ))

            </div>
        </div>
        <div class="borderStyle">
            @ViewBag.NoRecordsFound
        </div>
    </div>
    <br /><br />
    <div class="divforbutton">
        <a name="btnSubmitApprovalConfirm" id="btnSubmitApprovalConfirm" class="btn btn-success" onclick="ConfirmBeforeSubmitSave()"><span style="color:white;" class="glyphicon glyphicon-ok"></span> OK</a>
        @*<a name="btnCancelApprovalConfirm" id="btnCancelApprovalConfirm" class="btn btn-warning" onclick="CancelSubmit()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</a>*@
    </div>
</center>

<script type="text/javascript">
    function DummyFunction95() {
        $("#wgridSupAttachment td:nth-last-child(1)").show();
    }
    function CancelSubmit() {
        window.parent.jQuery("#divApprovalpopup1").dialog('close');
        window.parent.jQuery("#divApprovalpopup1").dialog('dispose');
    }
</script>