<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
   <!--<add name="connectionstring" connectionString="Data Source=KATHIR-PC\SQLEXPRESS;Initial Catalog=ficc_iem_new;User Id=sa;password=gnsa;" providerName="System.Data.SqlClient"/>-->
   <!--<add name="connectionstring" connectionString="Data Source=WIN-M0GE46V6843;Initial Catalog=ficc_6;User Id=sa;password=gnsa;" providerName="System.Data.SqlClient" />-->
    <add name="connectionstring" connectionString="Data Source=169.38.82.134;Initial Catalog=IEM_06092018;User Id=sa;password=flexi@123;connect timeout=10000;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-IEM-20150502142849;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-IEM-20150502142849.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="DirectoryPath" value="LDAP://192.168.84.51"/>
    <add key="DirectoryDomain" value="Portuat.test"/>
    <add key="Barcodepathnew" value="http://192.168.0.135/Barcode/" />
    <add key="Barcodepath" value="\\192.168.0.135\temp\Barcode\" />
    <add key="ficc" value="http://192.168.0.135/Barcode/Fullerton.bmp" /> 
    <add key="pocheckergroupgid" value="3"/>
    <add key="pocancelrolegid" value="30"/>
    <add key="porefgid" value="8"/>
    <add key="poclosurerolegid" value="31"/>
    <add key="wocancelrolegid" value="32"/>
    <add key="worefFlag" value="10"/>
    <add key="woclosurerolegroup" value="33"/>
    <!--PR-->
    <add key="prrefFlag" value="5"/>
    <!--PAR-->
    <add key="parrefFlag" value="9"/>
    <!--cbf-->
    <add key="cbfcancelgroupgid" value="29"/>
    <add key="cbfrefFlag" value="2"/>
    <add key="cbfclosuregroupid" value="34"/>
    <add key="cbfreopenmakergid" value="35"/>
    <add key="cbfreclosuregid" value="36"/>
    <!-- Flexispend -->
    <add key="HoldFileUpload" value="C:/temp/"/>
    <add key="ChqStatusUpdateFileUpload" value="C:/temp/"/>
    <add key="ChqDespatchAWBUpdationXL" value="C:/temp/"/>
    <add key="excelDebitLine" value="C:/temp/"/>
    <add key="StaleChqCheckerAttachment" value="C:/temp/"/>
    <add key="ProvisionMappingUploadUrl" value="C:/temp/"/>
    <add key="PrepaidExtensionUrl" value="C:/temp/"/>

    <add key="DownloadMemoLocal" value="C:/temp/EFTOnline/Download/"></add>
    <add key="MemoLocal" value="C:/temp/EFTOnline/Normal/"></add>
    <add key="MemoLocalEncrypt" value="C:/GenericEncryption_Client/GenericEncryption_Client/datafiles/clearfiles/"></add>
    <add key="ChequePrintingLocal" value="C:/temp/ChequePrintLocal"></add>
    
    <add key="PrefixUrl" value="/"/>
    <!-- EOW-->
    <add key="dsatestamount" value="800000" />
    <add key="EcfCenraiserreject" value="20" />
    <add key="invoiceRetention" value="211100026" />
    <add key="Invoicesertaxgid" value="54" />
    <add key="EcfDraft" value="0"/>
    <add key="EcfApproved" value="1"/>
    <add key="EcfRejected" value="2"/>
    <add key="EcfCancelled" value="4"/>
    <add key="EcfConcurrentApproval" value="8"/>
    <add key="EcfConcurrentApprovalreject" value="7"/>
    <add key="EcfConcurrentApprovalappred" value="9"/>
    <add key="EcfConcurrentApprovalnotapp" value="11"/>
    <add key="EcfHold" value="16"/>
    <add key="EcfInprocess" value="32"/>
    <add key="EcfCentralMkr" value="262144"/>
    <add key="EcfCentralChk" value="524288"/>
    <add key="EcfCentralreject" value="10"/>
    <add key="Centralmaker" value="17"/>
    <add key="Centralchecker" value="18"/>
    <add key="Ecflocalnature" value="Local Conveyance"/>
    <add key="Ecflocalcat" value="Local Conveyance"/>
    <add key="Ecflocalsubcat" value="Local Conveyance"/>
    <add key="Servicetax" value="Service Tax"/>
    <add key="EcfRegular" value="1"/>
    <add key="EcfLocalCoveyance" value="2"/>
    <add key="EcfTravel" value="3"/>
    <add key="EcfSupplierInvoice" value="4"/>
    <add key="EcfSupplierInvoiceDSA" value="5"/>
    <add key="EcfPettyCash" value="8"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="autoFormsAuthentication" value="false"/>
    <add key="enableSimpleMembership" value="false"/>
    <add key="EMPdelmattype" value="3"/>
    <add key="SUPdelmattype" value="3"/>
    <add key="ECF" value="ECF"/>
    <add key="ARF" value="ARF"/>
    <add key="CentralToBeRaised" value="0"/>
    <add key="CentralRaised" value="1"/>
    <add key="CentralHold" value="2"/>
    <add key="CentralHoldRelease" value="4"/>
    <add key="CentralReturn" value="8"/>
    <add key="S" value="Supplier"/>
    <add key="E" value="Employee"/>
    <add key="5" value="Expiry Date Extended"/>
    <add key="6" value="Forfeiture"/>
    <add key="Expiry Date Extended" value="5"/>
    <add key="Forfeiture" value="6"/>
    <add key="sendmail" value="sugumar.m@flexicodeindia.com"/>
    <add key="sendpw" value="Flexi!sug@1"/>
    <add key="smptMail" value="smtp.gmail.com"/>
    <add key="smptMailPort" value="587"/>
    <add key="ssl" value="true"/>
    <add key="Approvedclaimurl" value="http://localhost:49185/MailApprove/Index"/>
    <add key="Rejectclaimurl" value="http://localhost:49185/MailApprove/Index"/>
    <add key="rdbUrl" value="http://localhost:49185/MailApprove/GetNextApproverGid"/>
    <add key="DevelopmentMailIDTo" value="kathir@flexicodeindia.com"/>
    <add key="DevelopmentMailIDCc" value="maruthibalan@flexicodeindia.com"/>
    <add key="LoginFor" value="developments"/>
    <add key="LogDirectory" value="C:/temp/"/>
    <add key="FilePathASMS" value="\\192.168.0.130\kimage\asms\"/>
    <add key="LoginUrl" value="http://localhost:49185/LoginPage/empLoginPage"/>
    <!--AP-->
    <add key="HoldFileUpload" value="C://temp/"/>
    <add key="Pdffiledownload" value="C://temp/"/>
    <add key="ChqStatusUpdateFileUpload" value="C://temp/"/>
    <add key="HoldFileUpload" value="C://temp/"/>
    <add key="ChqStatusUpdateFileUpload" value="C://temp/"/>
    <add key="ChqDespatchAWBUpdationXL" value="C://temp/"/>
    <add key="Waitingforapproval" value="2"/>
    <add key="Barcodepathnew" value="http://192.168.0.135/Barcode/"/>
    <add key="Barcodepath" value="\\192.168.0.135\temp\Barcode\"/>
    <add key="downloadbar" value="\\192.168.0.135\temp\"/>
    <add key="EApproved" value="5"/>
    <add key="EReject" value="4"/>
    <add key="faApproved" value="3"/>
    <add key="WebApiFileServer" value="http://192.168.0.135/uploadNew/" />
    <add key ="WFA" value="2"/>
    <add key ="Approvedassetmerge" value="3"/>
    <add key ="RejectAssetmrge" value="4"/>
 
    <!--Attachment-->
    <add key="IEMFileUpload" value="C://temp/"/>

    <add key="EFTDownloadPath" value="http://localhost:49185/"/>
    <add key="Ecfdesignation" value="President" />
    <add key ="Filepath" value=" \\192.168.82.68\IEMAttachments\miga\" />
    <add key ="DomainName" value="192.168.82.68" />
    <add key ="DomainUser" value="p110741" />
    <add key ="DomainPwd" value="password!147" />
    <add key="LCF" value="~/Download/LCFTemplate.xls"/>
    <add key="DSA" value="~/Download/SupplierDSA.xls"/>
    <!--To enable Antiforgery set value as "Enable" else set "disable"-->
    <add key="Antiforgery" value="Enable"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    
    <customErrors mode="On">
    </customErrors>
    
      <httpRuntime executionTimeout="90" maxRequestLength="20000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192"/>
    <!--<httpRuntime />-->
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="60" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
 <caching>
   <outputCacheSettings>
        <outputCacheProfiles>
            <add name="long" duration="300" noStore="true" varyByParam="*" />
            <add name="Short" duration="100" noStore="true" varyByParam="*" />
            <add name="VShort" duration="1" noStore="true" varyByParam="*" />
        </outputCacheProfiles>
   </outputCacheSettings>
</caching>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="Set-Cookie" value="DENY" />
        <add name="Cookie" value="DENY" />
      </customHeaders>
    </httpProtocol>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>