
@using IEM.Areas.FLEXIBUY.Models
@using IEM.Common
@{
    AuditTrail objquenue = new AuditTrail();
    CbfSumModel model = new CbfSumModel();
    objquenue.gid = Session["pogid"];
    if (objquenue.gid != 0)
    {
        Model.auditTrailLst = model.PopulateAuditTrail(pat);
    }
    objquenue.auditTrailLst = Model.auditTrailLst;
    var auidtGrid = new WebGrid(source: Model.auditTrailLst, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "auditTrail", ajaxUpdateCallback: "auditTrailLst()");
    CmnFunctions objCmnFunctions = new CmnFunctions();
}

<div class="overflowx">
    <div>

        @auidtGrid.GetHtml(
                            htmlAttributes: new { id = "wgridDashboard" },
                            tableStyle: "tableSmall table-bordered aligncenter",
                            mode: WebGridPagerModes.All,
    columns:
    auidtGrid.Columns(
    auidtGrid.Column(header: "S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(
    auidtGrid.TotalRowCount / auidtGrid.PageCount) / auidtGrid.RowsPerPage) * auidtGrid.RowsPerPage * auidtGrid.PageIndex)
    , auidtGrid.Column("employee_code", objCmnFunctions.Sorter("employee_code", "Employee Code", auidtGrid))
    , auidtGrid.Column("employee_name", objCmnFunctions.Sorter("employee_name", "Employee Name", auidtGrid))
    , auidtGrid.Column("action_date", objCmnFunctions.Sorter("action_date", "Action Date", auidtGrid))
                //  , auidtGrid.Column("approval_stage", objCmnFunctions.Sorter("approval_stage", "Approval Stage", auidtGrid))
    , auidtGrid.Column("action_status", objCmnFunctions.Sorter("action_status", "Staus", auidtGrid))
    , auidtGrid.Column("action_remarks", objCmnFunctions.Sorter("action_remarks", "Remarks", auidtGrid))
    ))

        <div class="borderStyle btnCenter">
            @ViewBag.NoRecordsFound
        </div>
        <label>Page: @(auidtGrid.PageIndex + 1) of @auidtGrid.PageCount</label>  <label> - Total No Of Records:@Model.auditTrailLst.Count</label>
    </div>
</div>