@helper GetTreeView1(List<IEM.Areas.MASTERS.Models.MyProfileDataModel> lst, int parentID)
{

    foreach (var i in lst.Where(a => a.ParentId.Equals(parentID)))
    {
       
        <li>
            @{var submenu = lst.Where(a => a.ParentId.Equals(i.Id)).Count();}
            @if (submenu > 0)
            {
                <span class="expand2 collapsible2">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                @if (Session["employee_code"] != null && Session["employee_name"] != null)
                {
                    var empcode = (string)Session["employee_code"];
                    var empname = (string)Session["employee_name"];
                    var emp = empcode + "-" + empname;
                    if (emp.ToUpper().Trim() == i.employee_code.ToUpper().Trim())
                    {
                        <span style="font-weight:bold;color:navy">@i.employee_code</span>
                    }
                    else
                    {
                        @i.employee_code
                    }
                }
                
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @GetHierarchy.GetTreeView1(lst, i.Id)
                </ul>
            }
        </li>


    }

}


