@helper GetTreeView(List<IEM.Areas.MASTERS.Models.menu> menu, int parentID)
{
    @*if (parentID == 0)
        {
            <span class="collapse1 collapsible">&nbsp;</span>
        }*@

    foreach (var i in menu.Where(a => a.menu_parent_gid.Equals(parentID)))
    {
        var menus = menu.Where(a => a.menu_parent_gid.Equals(parentID)).Count();

        <li>
            @{var submenu = menu.Where(a => a.menu_parent_gid.Equals(i.menu_gid)).Count();}
            @if (submenu > 0)
            {
                <span class="" >&nbsp;</span>
                
            }
            else
            {
                <span style="width:15px; display:inline-block;">&nbsp;</span>
            }
            <span>
                <a  href="@i.menu_link">@i.menu_name</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @TreeviewProfile.GetTreeView(menu, i.menu_gid)

                </ul>
            }
           
        </li>


    }
}










