<div class="table-responsive" style="padding-right: 10px;">
    <div align="right" style="padding-bottom: 5px;">
        <button type="button" id="btnempdNewExpensddet" value="New Attachment" onclick="NewAttachment1()" class="btn btn-primary">
            <span style="color:white;font-size: 12px;" class="glyphicon glyphicon-plus"></span> New Attachment
        </button>
    </div>
    @Html.Partial("_LocalAttachmentDetails")
</div>
<br />
<div id="ForPartialViewEmpAttachmentmewl"></div>



<script type="text/javascript">
    var objDialogAttachmentGlocal;
    $(document).ready(function () {
        objDialogAttachmentGlocal = $("[id$='ForPartialViewEmpAttachmentmewl']");

    });

    function NewAttachment1() {
        var url = '@Url.Action("_LocalAttachmentCreate", "LocalConveyanceNew")?' + new Date().getTime();
        objDialogAttachmentGlocal.length = 1;
        objDialogAttachmentGlocal.load(url);
        objDialogAttachmentGlocal.dialog({
            title: 'Add Attachment',
            autoOpen: false,
            cache: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 700,
            height: 280
        });
        objDialogAttachmentGlocal.dialog("open");
    }
    function GotoIndexAttachmentV() {
        window.parent.jQuery('#ForPartialViewEmpAttachmentmewl').dialog('close');
    }
    function DeleteAttachment(id) {

        jConfirm("Confirm deletion of ECF Attachment ", "Message", function (u) {
            if (u == true) {
                var EmpPaymentmodel = { "AttachmentFilenameId": id }
                $.post('../LocalConveyanceNew/EmpAttachmentDelete', EmpPaymentmodel,
          function (data) {
              if (data == 0) { location = location.href; } else {
                  jAlert("Deleted Successfully.", "Message");
                  var url = '@Url.Action("_LocalAttachmentDetails", "LocalConveyanceNew")?' + new Date().getTime();
                  $("#wgAttachmentdataa").load(url);
                  window.parent.jQuery('#ForPartialViewEmpAttachmentmewl').dialog('close');
              }
          }, 'json');
            }
        });
    }
</script>
