@using IEM.Areas.EOW.Models;
@using IEM.Common
@using System.Data 
<br />
<div id="wgempPaymentlocal">
    <div id="tabs-2">
        <div style="height:270px; overflow-y:auto;">
            <div style="width:100%; overflow:auto;">
                <table class="tableSmall table-bordered table-hover table-responsive mycolortable">
                    <thead>
                        <tr>
                            <th style="width:5%; min-width:40px;">
                                #
                            </th>
                            <th style="width:10%; min-width:100px;">
                                Employee code
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Employee Name
                            </th>
                            <th style="width:5%; min-width:100px;">
                                Payment Mode
                            </th>
                            <th style="width:10%; min-width:150px;">
                                Account No
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Beneficiary
                            </th>
                            <th style="width:15%; min-width:150px;">
                                Description
                            </th> 
                            <th style="width:10%; min-width:100px;">
                                Amount
                            </th>
                            <th style="width:5%; min-width:100px;">
                                Action
                            </th> 
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: {data: ECFPaymentArray}">
                        <tr class="">
                            <td align="center">
                                <span data-bind="text: Slno"></span>
                            </td>
                            <td>
                                <span data-bind="text: employee_code"></span>
                            </td>
                            <td>
                                <span data-bind="text: employee_name"></span>
                            </td>
                            <td>
                                <span data-bind="text: ecfcreditline_pay_mode"></span>
                            </td>
                            <td>
                                <span data-bind="text: ecfcreditline_ref_no"></span>
                            </td>
                            <td>
                                <span data-bind="text: ecfcreditline_beneficiary"></span>
                            </td>
                            <td>
                                <span data-bind="text: ecfcreditline_desc"></span>
                            </td> 
                            <td align="right">
                                <span data-bind="text: ecfcreditline_amount"></span>
                            </td>
                          <td align="center">
                              <span title="view" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="    visible: ecfcreditline_pay_mode != 'RET' && ecfcreditline_pay_mode != 'TDS' && ecfcreditline_pay_mode != 'WCT',  click: function() { $root.EditInvoiceCreditDetails($index(),0); }"> <span id="id" class="glyphicon glyphicon-eye-open"> </span> </span>                             

                              <span title="Edit" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="visible: ecfcreditline_pay_mode != 'RET' && ecfcreditline_pay_mode != 'TDS' && ecfcreditline_pay_mode != 'WCT',  click: function() { $root.EditInvoiceCreditDetails($index(),1); }"> <span id="id" class="glyphicon glyphicon-edit"> </span> </span>
       <span title="Delete" style="margin-left:3px; margin-right:3px; cursor:pointer;" data-bind="visible: ecfcreditline_pay_mode == 'RRP', click: function() { $root.DeleteInvoiceCreditDetails(ecfcreditline_gid); }"> <span id="id" class="glyphicon glyphicon-trash"> </span> </span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     
    <div style="display:none" id="ShowDialogPayMode">
        <table class="myTableStyleTabNew" style="width:100%;">
            <tr>
                <td style="width:50%; padding:5px 10px;">
                    <span>Pay Mode</span>
                    <br />
                    <select id="ddlPayMode1" class="fstextbox required" data-bind="foreach: {data: PayModeLCEditArray}">
                        <option data-bind="attr: {value: Id}, text: Combo"></option>
                    </select>
                    <input type="text" id="txtPayMode" disabled="disabled" class="fstextbox required" />
                </td>
                <td style="width:50%; padding:5px 10px;">
                    <span id="lblPayableAt">Account No</span>
                    <br />
                    <input type="text" id="txtPayRefNo1" disabled="disabled" class="fstextbox required" />
                </td>

            </tr>
            <tr style="display:none;">

                <td style="padding:5px 10px;">
                    <span>Beneficiary</span>
                    <br />
                    <input type="text" disabled="disabled"
                           id="txtPayBeneficiary1"
                           class="fstextbox required" />
                </td>
                <td style="padding:5px 10px;" colspan="2">
                    <span>Pay Bank</span>
                    <br />
                    @*<select id="ddlPayBank" class="fstextbox required" disabled="disabled" data-bind="foreach: {data: PayBankArray}">
                            <option data-bind="attr: {value: Id}, text: Combo"></option>
                        </select>*@
                </td>

            </tr>
            <tr>
                <td style="padding:5px 10px;">
                    <span>Amount</span>
                    <br />
                    <input type="text"
                           @* disabled="disabled"*@ @*Commented to make amount field editable - by Ramya*@
                           id="txtPaymentAmount1"
                           class="fstextbox required" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px 10px;" colspan="2">
                    <span>Description</span>
                    <br />
                    <textarea id="txtPayDescription1" class="fstextbox required" cols="6" rows="3" style="height:100%;"></textarea>
                </td>
            </tr>

            <tr>
                <td style="padding:10px 10px 5px; text-align:center;" colspan="2">                 
                    <button type="button" id="btnCreditLineSubmit1" data-bind="click: function() { $root.SetInvoiceCreditDetails(1); }" style="color:white; margin-top:10px;" class="btn btn-primary">
                        <span style="color:white; font-size:12px;" class="glyphicon glyphicon-download-alt"></span>
                        Submit
                    </button>
                    <button type="button" style="color:white; margin-top:10px;" title="Cancel" name="Cancel" onclick="CloseDetails(1);" class="btn btn-warning">
                        <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>
<script>
    var UrlHelper = "@Url.Action("GetEditLCPayMode", "LocalConveyanceNew")" 
    var UrlDet = "@Url.Action("_LocalPayment", "LocalConveyanceNew")"
</script>
<input type="hidden" value="0" id="hfGLId" />
<input type="hidden" value="0" id="hfECFId" />
<input type="hidden" value="0" id="hfPayMode" />
<input type="hidden" value="0" id="hfAccNo" />
<input type="hidden" value="0" id="hfAmount" />
<input type="hidden" value="0" id="hfDesc" />
<script src="@Url.Content("~/Areas/eow/EOW_Userscript/jsPayModeEdit.js")" type="text/javascript"></script>