@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/angular.min.js"></script>*@

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>


<b>

    <span id="spanFinal" style="color: rgb(52, 108, 196);">Depreciation hold and release</span>
</b>
<div class="well">
    <div ng-app="mydepappnew">
        <div ng-controller="depcontroller" id="tabsapprvallist" style="font-size:12px; height: 750px;">
            <ul>
                <li><a href="#tabsapprvallist-1">Hold &nbsp;[&nbsp;<label id="myRequestscount">{{filteredItemsWOo}}</label>&nbsp;]</a></li>
                <li><a href="#tabsapprvallist-2">Release &nbsp;[&nbsp;<label id="myApprovalscount">{{filteredItemsWO2}}</label>&nbsp;] </a></li>
            </ul>
            <div id="tabsapprvallist-1" style="padding: 10px 4px 3px 15px">
                <br />
                @*@Html.Partial("TabDepreciationHoldIndex")*@
                <div>
                    <div>
                        <input ng-model="searchwoo.$" class="textboxStyle" placeholder="Enter Search Criteria..." style="width:100%;margin-bottom:5px;" />
                        <br />
                        <table style="overflow-x:auto;" class="tableSmall table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th ng-click="predicate = '_gid'; reverse=!reverse" class="thfix" style="display:none;">
                                        GID
                                    </th>
                                    <th style="width:3%;">
                                        S.No
                                    </th>
                                    <th style="width:10%;cursor:pointer;" ng-click="predicate = '_asset_id'; reverse=!reverse">
                                        Asset ID
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:15%;cursor:pointer" ng-click="predicate = '_group_id'; reverse=!reverse">
                                        Category
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_asset_code'; reverse=!reverse">
                                        Sub-Category Code
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:25%;cursor:pointer" ng-click="predicate = '_AssetDesp'; reverse=!reverse">
                                        Sub-Category Name
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_branch'; reverse=!reverse">
                                        Branch
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_cap_date'; reverse=!reverse">
                                        Capitalization Date
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_asset_value'; reverse=!reverse">
                                        Asset Value
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th class="thfix" style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            @*<tbody ng-show="filteredItemsWO > 0" ng-repeat="woparentdetail in woparentdetails | filter:searchwo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">*@
                            <tbody ng-show="filteredItemsWOo > 0" ng-repeat="depcontrollerdetail in depcontrollerdetails | filter:searchwoo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                <tr>
                                    <td class="tdfix" style="display:none; width:0%;">
                                        {{depcontrollerdetail._gid}}
                                    </td>
                                    <td style="width:3%;" align="center">
                                        {{$index+1}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetail._asset_id}}
                                    </td>
                                    <td style="width:15%;">
                                        {{depcontrollerdetail._group_id}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetail._asset_code}}
                                    </td>
                                    <td style="width:25%;">
                                        {{depcontrollerdetail._AssetDesp}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetail._branch}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetail._cap_date}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetail._asset_value}}
                                    </td>
                                    <td class="tdfix" style="width:5%;" align="center">
                                        <a id="idselect" onclick="Holdthings(this)" title="Hold the asset from Depreciation">
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="filteredItemsWOo < 1">
                                <tr>
                                    <td colspan="11" style="text-align:center">
                                        No Records Found
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div>
                            <div ng-show="filteredItemsWOo > 0">
                                <pagination page="currentPage" style="cursor:pointer;" boundary-links="true" class="pagination-sm" max-size="maxSize" total-items="filteredItemsWOo"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="currentPage" items-per-page="PerPageItems"></pagination>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="tabsapprvallist-2" style="padding: 10px 4px 3px 15px">
                <br />
                <div>
                    <div>
                        <input ng-model="searchwooo.$" class="textboxStyle" placeholder="Enter Search Criteria..." style="width:100%;margin-bottom:5px;" />
                        <br />
                        <table style="overflow-x:auto;" class="tableSmall table-bordered table-hover table-responsive">
                            <thead>
                                <tr>                                                                                                                                                                                                                                                                                                                                                                                          
                                    <th ng-click="predicate = '_gid'; reverse=!reverse" class="thfix" style="display:none;">
                                       GID
                                    </th>
                                    <th style="width:3%;">
                                        S.No
                                    </th>
                                    <th style="width:10%;cursor:pointer;" ng-click="predicate = '_Trf_id'; reverse=!reverse">
                                        Asset ID
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:15%;cursor:pointer" ng-click="predicate = '_Till_date'; reverse=!reverse">
                                        Category
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_Sale_date'; reverse=!reverse">
                                        Sub-Category Code
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:25%;cursor:pointer" ng-click="predicate = '_Wrt_date'; reverse=!reverse">
                                        Sub-Category Name
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_Imp_date'; reverse=!reverse">
                                        Branch
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_Trf_date'; reverse=!reverse">
                                        Capitalization Date
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th style="width:10%;cursor:pointer" ng-click="predicate = '_Trf_value'; reverse=!reverse">
                                        Asset Value
                                        <span style="font-size: 12px;color:white;" ng-class="{'glyphicon glyphicon-circle-arrow-up':reverse,'glyphicon glyphicon-circle-arrow-down':!reverse}"></span>
                                    </th>
                                    <th class="thfix" style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody ng-show="filteredItemsWO2 > 0" ng-repeat="depcontrollerdetails2 in depcontrollerdetails22 | filter:searchwooo:strict | orderBy:predicate:reverse | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                                <tr>
                                    <td  class="tdfix" style="display:none; width:0%;">
                                        {{depcontrollerdetails2._gid}}
                                    </td>
                                    <td style="width:3%;" align="center">
                                        {{$index+1}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetails2._Trf_id}}
                                    </td>
                                    <td style="width:15%;">
                                        {{depcontrollerdetails2._Till_date}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetails2._Sale_date}}
                                    </td>
                                    <td style="width:25%;">
                                        {{depcontrollerdetails2._Wrt_date}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetails2._Imp_date}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetails2._Trf_date}}
                                    </td>
                                    <td style="width:10%;">
                                        {{depcontrollerdetails2._Trf_value}}
                                    </td>
                                    <td class="tdfix" style="width:5%;" align="center">
                                        <a id="idselect" onclick="Releasethings(this)" title="Release the asset for Depreciation">
                                            <span class="glyphicon glyphicon-ok-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="filteredItemsWO2 < 1">
                                <tr>
                                    <td colspan="11" style="text-align:center">
                                        No Records Found
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div>
                            <div ng-show="filteredItemsWO2 > 0">
                                <pagination page="currentPage" style="cursor:pointer;" boundary-links="true" class="pagination-sm" max-size="maxSize" total-items="filteredItemsWO2"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="currentPage" items-per-page="PerPageItems"></pagination>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tablefix {
        table-layout: fixed;
        width: 100%;
    }

    .thfix, .tdfix {
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    //var myApp = angular.module('Depreciationapp', ['ui.bootstrap']);
    //myApp.filter('startFrom', function () {
    //    return function (input, start) {
    //        if (input) {
    //            start = +start;
    //            return input.slice(start);
    //        }
    //        return [];
    //    };
    //});

    //myApp.service("DepreciationService", function ($http) {
    //    this.getECFDetailsList = function () {
    //        return $http.get("../Depreciation/ToGetforHeld?" + new Date().getTime());
    //    };
    //    this.getECFDetailsLista = function () {
    //        return $http.get("../Depreciation/ToGetforfree?" + new Date().getTime());
    //    };
    //});
    //myApp.controller('DepreciationController', function ($scope, DepreciationService) {
    //    GetECFDetails();
    //    function GetECFDetails() {
    //        var getData = DepreciationService.getECFDetailsList();
    //        getData.then(function (emp) {

    //            $scope.DepHolds = emp.data;
    //            $('#myRequestscount').text($scope.DepHolds.length);
    //            $scope.search = {};

    //            $scope.resetFilters = function () {
    //                $scope.search = {};
    //            };

    //            $scope.currentPage = 1;
    //            $scope.totalItems = $scope.DepHolds.length;
    //            $scope.entryLimit = 50;
    //            $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
    //            $scope.noofsetpages = 5;

    //            $scope.$watch('search', function (newVal, oldVal) {
    //                $scope.filtered = filterFilter($scope.DepHolds, newVal);
    //                $scope.totalItems = $scope.filtered.length;
    //                $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
    //                $scope.currentPage = 1;
    //                $scope.noofsetpages = 5;
    //            }, true)

    //        }, function () {
    //            alert('Error');
    //        });
    //    }

    //    GetECFDetailsa();
    //    function GetECFDetailsa() {
    //        var getDataa = DepreciationService.getECFDetailsLista();
    //        getDataa.then(function (emp) {

    //            $scope.DepReleasesa = emp.data;
    //            $('#myApprovalscount').text($scope.DepReleasesa.length);
    //            $scope.search = {};

    //            $scope.resetFilters = function () {
    //                $scope.search = {};
    //            };

    //            $scope.currentPagemyapp = 1;
    //            $scope.totalItemsmyapp = $scope.DepReleasesa.length;
    //            $scope.entryLimitmyapp = 50;
    //            $scope.noOfPages = Math.ceil($scope.totalItemsmyapp / $scope.entryLimitmyapp);
    //            $scope.noofsetpagesmyapp = 5;

    //            $scope.$watch('search', function (newVal, oldVal) {
    //                $scope.filtered = filterFilter($scope.DepReleasesa, newVal);
    //                $scope.totalItemsmyapp = $scope.filtered.length;
    //                $scope.noOfPages = Math.ceil($scope.totalItemsmyapp / $scope.entryLimitmyapp);
    //                $scope.currentPagemyapp = 1;
    //                $scope.noofsetpagesmyapp = 5;
    //            }, true)

    //        }, function () {
    //            alert('Error');
    //        });
    //    }
    //});

    function Holdthings(element) {
        var row = $(element).closest('tr');
        var ecfnum = row.find('td:eq(0)').text();
        ecfnum = ecfnum.toString().trim();
        jConfirm("Are you sure to hold the asset from Depreciation?", "Information", function (j) {
            if (j == true) {
                $.post('../Depreciation/DepreciationHold?command=hold&assetgid=' + ecfnum + '&' + new Date().getTime(),
                function (data) {
                    jAlert("Asset Held Successfully!", "Message", function (u) {
                        if (u == true) {
                            window.location.href = '@Url.Action("DepreciationHold", "Depreciation")?' + new Date().getTime();
                        }
                    });
                }, 'json');
            }
            else { return false; }
        });
    }
    function Releasethings(element) {
        var row = $(element).closest('tr');
        var ecfnum = row.find('td:eq(0)').text();
        ecfnum = ecfnum.toString().trim();
        jConfirm("Are you sure to release the asset for Depreciation?", "Information", function (j) {
            if (j == true) {
                $.post('../Depreciation/DepreciationHold?command=release&assetgid=' + ecfnum + '&' + new Date().getTime(),
                 function (data) {
                     jAlert("Asset Released Successfully!", "Message", function (u) {
                         if (u == true) {
                             window.location.href = '@Url.Action("DepreciationHold", "Depreciation")?' + new Date().getTime();
                         }
                     });
                 }, 'json');
            } else { return false; }
        });
    }

    
        var currentTab = 0;
    $(function () {
        $("#tabsapprvallist").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

    var Mydepappnew = angular.module('mydepappnew', ['ui.bootstrap']);
    
    Mydepappnew.service("newserviceheld", function ($http) {
        
        this.GetIfams = function () {
            var response = $http({
                method: "get",
                url: '@Url.Action("ToGetforHeldIndex", "Depreciation")?' + new Date().getTime(),
                dataType: "json"
            });
            return response;
        }

    });

    Mydepappnew.filter('Pagestart', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });

    Mydepappnew.controller('depcontroller', function ($scope, newserviceheld) {
       // alert("shrinidhi");
        $scope.filteredItemsWOo = 0;
        $scope.filteredItemsWO2 = 0;
        $scope.PerPageItems = 10;
        $scope.maxSize = 5;
        $scope.currentPage = 1;
        getifamsdetailsheld();
        function getifamsdetailsheld() {
           // alert("shrinidhi");
            var getData = newserviceheld.GetIfams();
            getData.then(function (response) {
            //    alert("kathir");
                var Data0 = "";
                var Data1 = "";
                Data0 = JSON.parse(response.data.data0);
                Data1 = JSON.parse(response.data.data1);
                //   $('#myRequestscount').text($scope.depcontrollerdetails.length);
                $scope.depcontrollerdetails = Data0;
                $scope.depcontrollerdetails22 = Data1;
                $scope.filteredItemsWOo = $scope.depcontrollerdetails.length;
                $scope.filteredItemsWO2 = $scope.depcontrollerdetails22.length;
            });
        }
        //  $('#myRequestscount').text($scope.depcontrollerdetails.length);
        //$scope.filter = function () {
        //    $scope.filteredItemsWOo = $scope.filtered.length;
        //    $scope.maxSize = Math.round($scope.filteredItemsWOo / $scope.PerPageItems);
        //};

    });

</script>
