

<div style="width:100%;height:100%">
    <table style="width:100%;height:100%">
        <tr>
            <td style="padding-left: 50px;">
                @if (Session["policyhelp"] != null)
                {
                    <div>
                        <label>@Session["policyhelp"]</label>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td align="center">
                <center>
                    <button type="button" id="btncanpay" title="Cancel" name="Cancel" class="btn btn-warning" onclick="GotoIndexpolicy()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
                </center>
            </td>
        </tr>
    </table>
</div>

<script>
    function GotoIndexpolicy() {
        objDialogpolicypopup.remove();
        $("#ui-icon-closethick").click();
        objDialogpolicypopup.dialog("close");
        window.parent.jQuery('#ForPartialViewpolicypopup').dialog('close');

        objDialogpolicypopupce.remove();
        $("#ui-icon-closethick").click();
        objDialogpolicypopupce.dialog("close");
        window.parent.jQuery('#ForPartialViewpolicypopupcre').dialog('close');
    }
</script>