@using IEM.Areas.MASTERS.Models;
@using IEM.Common
@model  IEnumerable<IEM.Areas.MASTERS.Models.BranchDataModel>
@{
    OtherSystemModel objd = new OtherSystemModel();
    List<othersystemdatamodel> lstPayment = new List<othersystemdatamodel>();
    lstPayment = (List<othersystemdatamodel>)TempData["SearchItems"];
    if (lstPayment == null)
    {
        ViewBag.IsSearched = "no";
        lstPayment = objd.Employee().ToList();
    }
    if (lstPayment.Count == 0)
    {
        ViewBag.NoRecordsPayment = "NoRecords";
        ViewBag.NoRecordsFoundPayment = "No Records Found";
    }

    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(source: lstPayment, canPage: false, canSort: false);
    int rowVal = 0;
}

    <table class="myTableStyleTabNew" align="left" style="width:100%">
        <tr>
            <td>
                <div id="gridid">
                    @grid.GetHtml(
                    htmlAttributes: new { id = "gridemployeeload" },
                    tableStyle: "tableSmall table-bordered table-hover table-responsive overflowx",
                    columns: grid.Columns
                    (
                    grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1, style: "size"),
                    grid.Column("employee_code","Employee Code"),
                    grid.Column("employee_name","Employee Name"),
                    grid.Column("employee_dob","Employee Dob"),
                    grid.Column("employee_iem_designation","Employee Iem Designation"),
                    grid.Column("employee_grade_code","Employee Grade Code"),
                    grid.Column("employee_dept_name","Employee Dept Name")
                   )))
                   
                </div>
            </td>
        </tr>
    </table>
    
<script type="text/javascript">
    $(document).ready(function () {
   
        $('#gridemployeeload').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
    });
</script>
<style>
    .size {
        width: 5px;
    }
</style>

