@using IEM.Areas.MASTERS.Models;
@using IEM.Common
@model  IEnumerable<IEM.Areas.MASTERS.Models.othersystemdatamodel>
@{
    OtherSystemModel objd = new OtherSystemModel();
    List<othersystemdatamodel> lstPayment = new List<othersystemdatamodel>();
    lstPayment = (List<othersystemdatamodel>)TempData["SearchItems"];
    if (lstPayment == null)
    {
        ViewBag.IsSearched = "no";
        lstPayment = objd.SelectFC().ToList();
    }
    if (lstPayment.Count == 0)
    {
        ViewBag.NoRecordsPayment = "NoRecords";
        ViewBag.NoRecordsFoundPayment = "No Records Found";
    }

    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(source: lstPayment, canPage: false, canSort: false);
    int rowVal = 0;
}

    <table class="myTableStyleTabNew" style="width:100%">
    <tr>
        <td>
            <div id="gridid">
                @grid.GetHtml(
                    htmlAttributes: new { id = "gridFCload" },
                    tableStyle: "tableSmall table-bordered table-hover table-responsive overflowx",
                    columns: grid.Columns
                    (
                    grid.Columns(grid.Column("S No", format: item => rowVal = rowVal + 1, style: "size"),
                    grid.Column("Fc_Code","Fc Code"),
                    grid.Column("Fc_Name", "Fc Name")
                   )))

            </div>
        </td>
    </tr>
</table>


   
<script type="text/javascript">
    $(document).ready(function () {
   
        $('#gridFCload').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
    });
</script>
<style>
    .size {
        width: 5px;
    }
</style>
