@{
    ViewBag.Title = "ReductionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .SortText span {
        color: white;
        font-size: x-small;
    }
</style>
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>
<span class="pageHeading">Asset Reduction</span>
<div ng-app="RRApp">
    <div class="well" ng-controller="RRController" style="padding-bottom:50px;">
        <div style="width:100%">
            <div style="width:45%;float:left;">
                Search &nbsp;&nbsp; <input type="text" ng-model="searchRR.$" style="width:70%;" placeholder="Enter Search Criteria..." />
            </div>
            <div style="width:45%;float:right;vertical-align:bottom">
                Items Per Page &nbsp;&nbsp;
                <select ng-model="PerPageItems">
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
                @*<input style="float:right" type="button" value="Export" ng-click="ExportDoc()" />*@
                <button class="btn-sm btn-primary" style="float:right" ng-click="ExportDocRR()">
                        <span style="color:white;font-size:x-small" class="glyphicon glyphicon-export"></span>
                        Export to Excel
                </button>
            </div>
        </div>
        <div style="width:100%;overflow-x:scroll;">
            <div style="width:120%;" id="divData">
                <table class="tableSmall table-bordered table-hover table-responsive" id="tblExpp">
                    <thead>
                        <tr class="SortText">
                            <th style="width:3%;">
                                S.No
                            </th>
                            <th style="width:14%;" class="cursorpointer" ng-click="SortRRData('AssetID')">
                                Asset ID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='AssetID'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:10%;" class="cursorpointer" ng-click="SortRRData('AssetGroupID')">
                                Asset Group ID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='AssetGroupID'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:7%;" class="cursorpointer" ng-click="SortRRData('AssetCode')">
                                Asset Code
                                <span class="glyphicon sort-icon" ng-show="sortKey=='AssetCode'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:10%;" class="cursorpointer" ng-click="SortRRData('AssetValue')">
                                Asset Value
                                <span class="glyphicon sort-icon" ng-show="sortKey=='AssetValue'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:10%;" class="cursorpointer" ng-click="SortRRData('AssetNewValue')">
                                New Asset Value
                                <span class="glyphicon sort-icon" ng-show="sortKey=='AssetNewValue'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:10%;" class="cursorpointer" ng-click="SortRRData('ReducedAmount')">
                                Reduced Amount
                                <span class="glyphicon sort-icon" ng-show="sortKey=='ReducedAmount'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:10%;" class="cursorpointer" ng-click="SortRRData('RefNumber')">
                                Ref Number
                                <span class="glyphicon sort-icon" ng-show="sortKey=='RefNumber'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:15%;" class="cursorpointer" ng-click="SortRRData('Maker')">
                                Reduction Maker
                                <span class="glyphicon sort-icon" ng-show="sortKey=='Maker'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width:26%;" class="cursorpointer" ng-click="SortRRData('ReductionDate')">
                                Reduction Date
                                <span class="glyphicon sort-icon" ng-show="sortKey=='ReductionDate'" ng-class="{'glyphicon glyphicon-chevron-up':reverse,'glyphicon glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-show="FilteredItemsRR > 0" ng-repeat="myapproval in myapprovals |orderBy:sortKey:reverse | filter:searchRR:strict | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">
                        <tr>
                            <td style="width:3%;" align="center">
                                {{$index+1}}
                            </td>
                            <td style="width:14%;">
                                {{myapproval.AssetID}}
                            </td>
                            <td style="width:10%;">
                                {{myapproval.AssetGroupID}}
                            </td>
                            <td style="width:7%;">
                                {{myapproval.AssetCode}}
                            </td>
                            <td style="width:10%;">
                                {{myapproval.AssetValue}}
                            </td>
                            <td style="width:10%;">
                                {{myapproval.AssetNewValue}}
                            </td>
                            <td style="width:10%;">
                                {{myapproval.ReducedAmount}}
                            </td>
                            <td style="width:10%;">
                                {{myapproval.RefNumber}}
                            </td>
                            <td style="width:15%;">
                                {{myapproval.Maker}}
                            </td>
                            <td style="width:26%;">
                                {{myapproval.ReductionDate}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="FilteredItemsRR < 1">
                        <tr>
                            <td colspan="7" style="text-align:center">
                                No Records Found
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
       
        <div style="width:100%;">
            <div ng-show="FilteredItemsRR > PerPageItems" style="float:left;margin:0;padding:0;max-height:50px;">
                <pagination page="currentPage" style="cursor:pointer;" boundary-links="true" class="pagination-sm" min-size="1" max-size="maxSize" total-items="FilteredItemsRR"
                            num-pages="noofpages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-model="currentPage" items-per-page="PerPageItems"></pagination>

            </div>
            <div style="float:right;color:navy">
                Pages {{currentPage}} / {{noofpages}} | Total Records : {{FilteredItemsRR}}
            </div>
        </div>
    </div>
    @*<iframe id="txtArea1" style="display:none"></iframe>
        <button id="btnExport" onclick="fnExcelReport();"> EXPORT </button>*@
</div>
<script type="text/javascript">
    var queryApp = angular.module('RRApp', ['ui.bootstrap']);
    queryApp.service("rrservice", function ($http) {
        this.GetReductionSummary = function () {
            var url = '@Url.Action("GetReductionSummary", "SplitReport")?' + new Date().getTime();
            return $http.get(url);
        }
    });
    queryApp.controller('RRController', function ($scope, rrservice) {

        $scope.maxSize = 5;
        $scope.PerPageItems = 10;
        $scope.currentPage = 1;
        GetReductionSummary();

        function GetReductionSummary() {
            var getData = rrservice.GetReductionSummary();
            getData.then(function (response) {
                var Data0 = "";
                if (response.data.data0 != null && response.data.data0 != "")
                    Data0 = JSON.parse(response.data.data0);
                $scope.myapprovals = Data0;
                $scope.FilteredItemsRR = $scope.myapprovals.length;

            }, function () {
                alert('Error While Loading record');
            });
        }
      
        $scope.SortRRData = function (keyname) {
            $scope.sortKey = keyname;   //set the sortKey to the param passed
            $scope.reverse = !$scope.reverse; //if true make it false and vice versa
        }
        $scope.ExportDocRR = function () {
            location = '@Url.Action("DTtoExcelFA", "SplitReport")?rptfor=reduction&' + new Date().getTime();
        }
    });
    queryApp.filter('Pagestart', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });

</script>