@using IEM.Areas.FLEXIBUY.Models;
@using IEM.Common
@model IEnumerable<IEM.Areas.FLEXIBUY.Models.dashboard>



<div id="wgDashboardMydoc">
    <br />
    @{
        prsummodel objrep = new prsummodel();
        List<dashboard> pr = new List<dashboard>();
        pr = objrep.getcbfdashboard();
        var grid = new WebGrid(source: pr, canSort: true, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "grid", ajaxUpdateCallback: "grid", selectionFieldName: "SelectedRow");

        int rowNum = 0;

        CmnFunctions objCmnFunctions = new CmnFunctions();

    }
    <div class="container">
        <div class="overflowx">
            <div>

                @grid.GetHtml(
         tableStyle: "table table-bordered table-hover table-responsive",
        htmlAttributes: new { id = "grid" },
        columns: grid.Columns
            (
                        //Here I am going to add checkbox column
          grid.Column("SlNo", format: a => rowNum = rowNum + 1, style: "col-sm-1"),
                        //grid.Column("SNo", format: a => rowNum = rowNum + 1),
                            grid.Column("Requesttype", objCmnFunctions.Sorter("Requesttype", "Requesttype.", grid), style: "col-sm-1"),
                             grid.Column("draft", objCmnFunctions.Sorter("draft", "Draft", grid), style: "col-sm-1"),
                              grid.Column("inprocess", objCmnFunctions.Sorter("inprocess", "Inprocess", grid), style: "col-sm-1"),
                                grid.Column("approval", objCmnFunctions.Sorter("approval", "Approval", grid), style: "col-sm-1"),
                                  grid.Column("reject", objCmnFunctions.Sorter("reject", "Rejected", grid), style: "col-sm-1"),
                                               grid.Column("formyapproval", objCmnFunctions.Sorter("formyapproval", "ForApproval", grid), style: "col-sm-1")

))
            </div>
        </div>
        <div class="borderStyle">
            @ViewBag.NoRecordsFound
        </div>
    </div>
</div>