@{
    ViewBag.Title = "ForMyApprovalSummaryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (TempData["type"] !=null)
    {
        ViewBag.lstfortype = (string)TempData["type"];
    }
}
<div id="divForMyApprDetails">
    <input type="hidden" value="@ViewBag.lstfortype" name="hidListFor" id="hidListFor" />
    <div>
        <fieldset>
            <legend>For My Approval Summary</legend>
            <center>
                <div id="divForMyApprovalFields">
                    @Html.Partial("ForMyApprovalSummaryFields")
                </div>
            </center>
        </fieldset>
    </div>
    <div id="divForMyApprovalGrid">
        @Html.Partial("ForMyApprovalSummary")
    </div>
   
</div>
<script type="text/javascript">
    function SearchForMyApprovalDetails() {
        var docnumber = $("#_DocNumber").val();
        var lsttype = $("#hidListFor").val();
        $.ajax({
            url: '../flexibuydashboard/ForMyApprovalSummary?RefNo=' + docnumber +'&type=' + lsttype + '&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error", function () {
                        return false;
                    });
                    return false;
                }
                else {
                    $("#ForMyApprovalSummary").load("../flexibuydashboard/ForMyApprovalSummary?type=" + lsttype + '&' + new Date().getTime());
                }
            },
            error: function (result) {
                jAlert("Something Went wrong", "Error", function () {
                    return false;
                });
                return false;
            }
        });
    }
    function ClearForMyApprovalDetails() {
        $("#_DocNumber").val("");
        var docnumber = $("#_DocNumber").val();
        var lsttype = $("#hidListFor").val();
        $.ajax({
            url: '../flexibuydashboard/ForMyApprovalSummary?RefNo=' + docnumber + '&type=' + lsttype + '&' + new Date().getTime(),
            type: 'POST',
            async: false,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == 0) {
                    jAlert("Error Occured", "Error", function () {
                        return false;
                    });
                    return false;
                }
                else {
                    $("#ForMyApprovalSummary").load("../flexibuydashboard/ForMyApprovalSummary?type=" + lsttype + '&' + new Date().getTime());
                }
            },
            error: function (result) {
                jAlert("Something Went wrong", "Error", function () {
                    return false;
                });
                return false;
            }
        });
    }
</script>