.menu, .menu ul {
    display: block; /*thiru*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 2.5em;
}

    .menu a {
        display: block; /*thiru*/
        text-decoration: none;
        font-size: small;
    }

    .menu > li {
        display: block; /*thiru*/
        margin-left: 15px;
    }

        .menu > li:first {
            display: block; /*thiru*/
            clear: both; /*thiru*/
            margin-left: 0px !important;
        }

        .menu > li > a {
            display: inline-block; /*thiru*/
            padding: 0px 10px;
            margin: 0;
            width: 100%;
            text-decoration: none;
            color: #0e0a24;
            font-family: sans-serif;
            font-size: medium;
            font-weight: bold;
        }

div.box {
    position: absolute;
    z-index: -1;
    background-color: #FFFEFD;
    left: 0;
    top: 0;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

li.pull-down {
    padding-right: 6px;
}

    li.pull-down > a {
        background-image: url('./images/darrow.png');
        background-position: 96% 75%;
        background-repeat: no-repeat;
        padding-right: 20px;
    }

li.right-menu > a {
    background-image: url('./images/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}

.menu a.selected {
    background-color: white;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}

.menu li {
    float: left;
    position: relative;
}

.menu ul {
    position: absolute;
    display: none;
    width: 180px;
    z-index: 2000;
    top: 2.5em; /*padding-right: 10px;*/
    background-color: #337ab7; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border: 2px solid #083357;
}

.menu li ul a {
    text-decoration: none;
    width: 180px;
    height: auto;
    float: left;
    color: #FFFEFD;
    padding: 0 10px;
}

.menu li ul li {
    padding: 0;
    margin: 0;
}

.menu ul ul {
    top: auto;
}

.menu li ul ul {
    left: 178px; /*margin: 0px 0 0 10px;*/
}

.menu-item-selected > a {
    background-color: #ffffff;
    /*-moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;*/
}

    .menu-item-selected > a:hover {
        color: #083357 !important;
        text-decoration: none;
    }
