.HeaderTop{
    width:100%;
    height:60px;
    background-color:#fff; 
}
.HeaderMenu{
    height:30px;
    background-color:#fcfcfc; 
}
.HeaderLine{
    height:2px;
    background-color:#f6e8e8; 
}
.HeaderLineBottom{
    
     height:2px;
    background-color:#fcfcfc; 
}
.HeaderImgLeft{
    float:left;
   margin-left:20px;
   margin-top:5px;
}
.HeaderImgRight{
    float:right;
   margin-right:20px;
   margin-top:5px;
}
.HeaderModule{
    text-align:center;
    font-family: sans-serif;
    color:#4478A3;
    font-size:x-large;
   margin:0 auto 0;
}

.input-validation-error, .required
{
    border-left:5px solid #ee0000 !important;
}
.valid
{
    border-left:5px solid #00aa00 !important;
}
.field-validation-error
{
    color:#990000;
}
.RedColorFont{
    color:red;
}
.BlueColorFont{
    color:blue;
    cursor:pointer;
    text-align:right;
    float:right;
}
fieldset legend{
    font-size:small;
    font-weight:bold;
    margin:0;
    
}
.SearchPanel{
    width:80%;
    margin:0 auto 0;
     margin-bottom:10px;
     padding-bottom:10px;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}
.field-validation-error
{
    color:#990000;
}
.footerstyle{
    position: fixed;
    bottom: 0;
    margin:0 auto 0;
    left:-5.3%;
    padding-top:10px;
    width: 110%;
    height: 40px;
    font-weight:bold;
    background-color: #f5f5f5;
    border-top:1px solid #efeded;
}
tfoot
{
    text-align: right;
}
tfoot > tr > td a:link
{
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 7px;
}
.VerticalLineStyle{
    height:100%;
     border-left: 2px solid #ff0000;
}
.myTableStyle td{
    padding:10px;
}
.myTableStyleTab{
    padding:10px;
}
.myTableStyleTab td{ 
    padding:4px;
    color:navy;
    vertical-align:bottom;
    min-height:50px;
    padding-top:10px;
    font-size:small;
    font-weight:600;
    max-width:242px;
}
.myTableStyleTabNew{
    padding:10px;
}
.myTableStyleTabNew td{ 
    padding:4px;
    color:navy;
    vertical-align:top;
    min-height:50px;
    padding-top:1px;
    font-size:small;
    font-weight:600;
}
.myTableStyleTabNew td span{
      font-weight:normal;
      font-size:13px;
      color:#333;
}
.myTableStyleTabNew td a span{
     font-weight:bold;
     cursor:pointer;
     font-size:16px;
     color:#337ab7;
}
.myTableStyleTabNew td a span:hover{
    font-weight:bold;
    cursor:pointer;
    font-size:16px;
    color:#2a6393;
}
.myTableStyleTab td span{
    font-weight:normal;
    font-size:13px;
    color:#333;
}
.InlineIconStyle b{
    cursor:pointer;
    font-size:large;
    text-align:center;
    vertical-align:middle;
}

.iconbuttonStyle span{
    border:2px solid #041344;
    border-radius:3px;
    padding:4px 1px 1px 3px;
    vertical-align:middle;
    font-size:large;
}
.borderStyle{
    border-radius:5px;
    opacity:50;
    font-weight:normal;
    color:black;
    border:1px solid #ada8a8;
}
.overflowx{
    overflow-x:auto;
}
.overflowy{
    overflow-y:auto;
}
.overflownone{
    overflow:hidden;
}
.action{
    width:15%;
    min-width:150px;
    text-align:center;
}
.action a{
    padding:8px;
    cursor:pointer;
}
.IdColumn{
    text-align:center;
    width:10%;
    min-width:40px;
}
.MidColumn5{
    width:5%;
    max-width:50px;
    min-width:30px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.MidColumn10{
    width:10%;
    max-width:80px;
    min-width:30px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.MidColumn20{
    width:20%;
    max-width:300px;
    min-width:100px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.MidColumn30{
    width:30%;
    max-width:300px;
    min-width:150px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.MidColumn40{
    width:40%;
    max-width:400px;
    min-width:200px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.MidColumn50{
    width:50%;
    max-width:500px;
    min-width:200px;
    text-wrap:normal;
    word-break:break-all;
    word-wrap:break-word;
}
.hiddenfield{
    display:none;
    padding:0;
}
/*.table {
    border-collapse: collapse !important;

  }
  .table td
  {
    background-color: #fff !important;
  }
  .table th {
      color:navy;
      font-weight:bold;
      text-align:center;
    background-color: #f5f5f5 !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
    
  .table {
       border-collapse: collapse;
        text-align: left; width: 100%; 
  }*/ 
  .table {
      width:100%;
      font: normal 12px/150% Arial, Helvetica, sans-serif; 
      background: #fff; 
      overflow: hidden; 
      border: 1px solid #006699; 
      -webkit-border-radius: 3px; 
      -moz-border-radius: 3px;
       border-radius: 3px; 
       height:50px;
  }
  .table td, .table th { 
      padding: 3px 10px; 

  }
  .table thead th {
      /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e7294), color-stop(1, #337ab7) );
      background:-moz-linear-gradient( center top, #006699 5%, #337ab7 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#337ab7', endColorstr='#2e7294');*/
      background-color:#337ab7; 
     
      color:#FFFFFF;
       font-size: 15px;
        font-weight: bold; 
        border-left: 1px solid #0070A8; 

        text-align:center;
  } 
  .table th a{
      color:white;
  }
  .table thead th:first-child { 
        border: none;

    }
    .table tbody td {
         color: #00496B;

          border-left: 1px solid #E1EEF4;
          font-size: 12px;
          font-weight: bold;

    }
    .table tbody .alt td {
         background: #E1EEF4; 
         color: #00496B; 

    }
    .table tbody td:first-child {
         border-left: none;

    }
    .table tbody tr:last-child td {
         border-bottom: none;

    }
   
    .table tfoot td { 
        border-top: 1px solid #006699;
        background: #E1EEF4;

    } 
    .table tfoot td {
         padding: 0; 
         font-size: 12px 

    } 
    .table tfoot td {
         padding: 2px;

    }
    .table tfoot td  {
         margin: 0;
          padding:0; 
          list-style: none;
           text-align: right;

    }.table tfoot  td a{ 
         display: inline;

     }
     .table tfoot  a { 
         text-decoration: none;
          display: inline-block;  
          padding: 2px 8px;
           margin: 1px;
           color: #FFFFFF;
           border: 1px solid #006699;
           -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
             border-radius: 3px; 
             background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
             background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
             filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
             background-color:#006699;

     }.table tfoot a.active, .table tfoot  a:hover {
           text-decoration: none;
           border-color: #006699; 
           color: #FFFFFF;
            background: none; 
            background-color:#00557F;

      }
      div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
          position: fixed !important; 

      }
      #Pager a{
           text-decoration: none;
          display: inline-block;  
          padding: 2px 8px;
           margin: 1px;
           color: #FFFFFF;
           border: 1px solid #006699;
           -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
             border-radius: 3px; 
             background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
             background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
             filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
             background-color:#006699;
      }

      .custwidth{
          width:10px;
          height:20px;
      }

      .tableSmall {
      width:100%;
      font: normal 12px/150% Arial, Helvetica, sans-serif; 
      background: #fff; 
      overflow: hidden; 
      border: 1px solid #006699; 
      -webkit-border-radius: 3px; 
      -moz-border-radius: 3px;
       border-radius: 3px; 
       height:50px;
  }
  .tableSmall td, .table th { 
      padding: 3px 10px; 

  }
  .tableSmall thead th {
     
      background-color:#337ab7; 
     padding:3px;
      color:#FFFFFF;
      font-size: 13px;
      font-weight: normal; 
      border-left: 1px solid #0070A8; 
      text-align:center;
  } 
  .tableSmall th a{
      color:white;
  }
  .tableSmall thead th:first-child { 
        border: none;

    }
    .tableSmall tbody td {
         /*color: #00496B;*/
          color:black;
          border-left: 1px solid #E1EEF4;
          font-size: 13px;
          font-weight: normal;

    }
     .tableSmall tbody td a {
        cursor:pointer;
    }
    .tableSmall tbody .alt td {
         background: #E1EEF4; 
         color: #00496B; 

    }
    .tableSmall tbody td:first-child {
         border-left: none;

    }
    .tableSmall tbody tr:last-child td {
         border-bottom: none;

    }
     
    .tableSmall tfoot td { 
        border-top: 1px solid #006699;
        background: #E1EEF4;
        padding: 3px; 
        font-size: 15px; 
        list-style: none;
        text-align: right;
    } 
    .tableSmall tfoot > tr > td a:link {
        padding:1px 5px;
        background-color:#006699;
    }
     .tableSmall tfoot td a { 
         text-decoration: none;
         background-color:#006699;
         display: inline-block;  
         padding: 1px 1px;
         margin:0;
         color: #FFFFFF;
         border: 1px solid #337ab7;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px; 
         /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #337ab7), color-stop(1, #00557F) );
         background:-moz-linear-gradient( center top, #337ab7 5%, #00557F 100% );
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#337ab7', endColorstr='#00557F');*/
        

     }.tableSmall tfoot a.active, .tableSmall tfoot a:hover {
           text-decoration: none;
           border-color: #337ab7; 
           color: #FFFFFF;
            background: none; 
            background-color:#337ab7;

      }
      div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
          position: fixed !important; 

      }

 .textboxStyle {
  width: 90%;
  height: 27px;
  font-weight:normal;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 1.42857143;
  /*color: #555;*/
  color:black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.textboxStyle:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.textboxStyle::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.textboxStyle:-ms-input-placeholder {
  color: #999;
}
.textboxStyle::-webkit-input-placeholder {
  color: #999;
}
.textboxStyle[disabled],
.textboxStyle[readonly],
fieldset[disabled] .textboxStyle {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

 .textboxStyleMedium {
  width: 60%;
  height: 27px;
  font-weight:normal;
  padding: 4px 8px;
  font-size: 13px;
 color:black;
   line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
 .textboxStyleSmall {
  width: 40%;
  height: 27px;
  font-weight:normal;
  padding: 4px 8px;
  font-size: 13px;
  color:black;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui-dialog  .ui-header .ui-btn-icon-notext	{
     display:none;
}

