@model IEM.Areas.ASMS.Models.SEModel

<table>
    <tr>
        <td>
            <span>Select Sheet</span>
            <br />
            @*@if (Model != null)
                { @Html.DropDownListFor(M => M.seCategoryID, Model.seCategoryModel, "--Select--", new { @class = "textboxStyleSearch", @id = "ddlSelectsheet", @name = "ddlSelectsheet" }) }
                else
                {
                    @Html.DropDownListFor(model => model.seCategoryModel, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "ddlSelectsheet", @name = "ddlSelectsheet" })
                }*@
            @if (ViewBag.myList != null)
            { 
                @Html.DropDownList("myList", ViewBag.myList as SelectList, new { @class = "textboxStyleSearch", @id = "ddlSelectsheet", @name = "ddlSelectsheet" })

            }
            else
            {
                @Html.DropDownListFor(model => model.seCategoryModel, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "ddlSelectsheet", @name = "ddlSelectsheet" })
            }


        </td>
        <td>
            <span>&nbsp;</span><br />
            <button id="btnfrstsubmit" class="btn btn-primary" value="Upload" onclick="uploadOnwer()"><span style="color:white;" class="glyphicon glyphicon-upload"></span> Upload</button>&nbsp;
            &nbsp;<button id="btncanpayclear" class="btn btn-primary" value="Upload"><span style="color:white;" class="glyphicon glyphicon-remove-circle"></span> Clear</button>

        </td>
        <td>
            <span>&nbsp;</span><br />
            <div style="font-weight:bold">
                <a class="btn" data-modal="" href="../OnwerUpdation/samdownloadsexcel" id="DownloadTemplate">
                    Download Template
                </a>
            </div>
        </td>
    </tr>
</table>