@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity
         
<div>
    <div id="divCBFAttachmentIndex">
        <fieldset>
            <legend>CBF ATTACHMENTS</legend>
            <center>
                <input type="hidden" name="hidInlineAttachmentGid" id="hidInlineAttachmentGid" value="@ViewBag.InlineAttachmentGid" />
                <div id="cbfattachmentdiv">
                    @Html.Partial("CBFAttachmentFields")
                </div>
                <div id="cbfattachmentgrid">
                    @Html.Partial("CBFAttachmentDetails")
                </div>
            </center>
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    var viewmode = '@ViewBag.cbfattachmentviewmode';
    $("#wgridCBFAttachment td:nth-child(1),#wgridCBFAttachment th:nth-child(1)").hide();
    $("#wgridCBFAttachment td:nth-last-child(1)").show();
    $(document).ready(function () {
        
        $("#wgridCBFAttachment td:nth-child(1),#wgridCBFAttachment th:nth-child(1)").hide();
        $("#wgridCBFAttachment td:nth-last-child(1)").show();
        if (viewmode == "view") {
            $("#cbfattachmentdiv").css("display", "none");
            $("#wgridCBFAttachment td:nth-child(5),#wgridCBFAttachment th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#cbfattachmentdiv").css("display", "block");
            $("#wgridCBFAttachment td:nth-child(5),#wgridCBFAttachment th:nth-child(5)").show();
        }
    });
    function DummyFunction2020() {
        $("#wgridCBFAttachment td:nth-child(1),#wgridCBFAttachment th:nth-child(1)").hide();
        $("#wgridCBFAttachment td:nth-last-child(1)").show();
        if (viewmode == "view") {
            $("#cbfattachmentdiv").css("display", "none");
            $("#wgridCBFAttachment td:nth-child(5),#wgridCBFAttachment th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#cbfattachmentdiv").css("display", "block");
            $("#wgridCBFAttachment td:nth-child(5),#wgridCBFAttachment th:nth-child(5)").show();
        }
    }
</script>