
<div id="transferamountbuttons">
    <table align="right">
        <tr>


            <td>
                @*<input type="button" name="btnupdatetransferamount" id="btnupdatetransferamount" class="glyphicon glyphicon-thumbs-up" value="update" onclick="updatetransferamount()" />*@
                <button type="button" id="btnupdatetransferamount" name="command" class="btn btn-success" onclick="updatetransferamount()" value="Submit">
                    <span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span> update
                </button>

                &nbsp;
                <button type="button" id="btnrevert" class="btn btn-danger" value="Delete" onclick="transferamountrevert()">
                    <span style="color:white;" class="glyphicon glyphicon-thumbs-down"></span> Revert
                </button>
                &nbsp;
                <button type="button" id="btncancel" class="btn btn-warning" value="Cancel" onclick="transferamountmainclose()">
                    <span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>

            </td>
        </tr>
    </table>

</div>

<script type="text/javascript">

    function transferamountrevert() {
        var viewfor = "revert";
        var objtranferdetailsamount = {

        }
        $.ajax({
            url: '@Url.Action("pardetailsapprover", "partransfer")?viewfor=' + viewfor,
            type: 'POST',
            data: objtranferdetailsamount,
            success: function (data) {
                $("#pardetails").empty().append(data);
            },
            error: function () {
                jAlert("something seems wrong", "Error");
            }

        });



    }

</script>