@model  IEnumerable<IEM.Areas.ASMS.Models.adhoc_model>
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />

@{
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model);
    int rowVal = 0;
}


<div class="pageHeadingLayout">
    <span class="pageHeading">Adhoc Master History </span>
</div>

@using (Html.BeginForm())
{
    <div class="well">
        

        <div class="table-responsive" style="margin-top:10px;">
            @grid.GetHtml(
             htmlAttributes: new { id = "gridadhoc" },
                tableStyle: "tableSmall table-bordered table-hover",
                columns: grid.Columns
                        (

                        grid.Columns(grid.Column("SNo", style: "slno", format: item => rowVal = rowVal + 1),
                         grid.Column(header: "Supplier Code", columnName: "Audit_suppliercode"),
                         grid.Column(header: "Supplier Name", columnName: "Audit_suppliername"),
                         grid.Column(header: "State Name", columnName: "statename"),
                           grid.Column(header: "Supplier GSTRegNo", columnName: "Audit_suppliergstin"),
                           grid.Column(header: "Adhoc Update by", columnName: "user"),
                         grid.Column(header: "Audit Type", columnName: "audit_type"),
                         grid.Column(header: "Audit Date", columnName: "Audit_updatedate")
                        
                           )))
        </div>
    </div>
}
@*<script type="text/javascript">
    $(document).ready(function () {
        $('#gridadhoc tr th:nth-child(4)').addClass("nosort");
        $('#gridadhoc').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");
    });
    </script>*@