<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        $("#tabsa").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
    });

</script>
<div class="container ">
    <div id="tabsa">
        <ul>
            <li><a href="#tabsa-1">Approval History</a></li>
            @*<li><a href="#tabsa-2">Deviation Approval</a></li>
                <li><a href="#tabsa-3">Upcoming  Approval</a></li>*@
            @*<li><a href="#tabsa-4">Central Team</a></li>*@
        </ul>
        <div id="tabsa-1">
            @Html.Partial("tab_ApprovalHistorye")
            <br /><br />
        </div>
        @*<div id="tabsa-2">

                <br /><br /><br /><br /><br />
            </div>
            <div id="tabsa-3">
                <br /><br /><br /><br /><br />
            </div>*@
        @*<div id="tabsa-4">
                <br /><br /><br /><br /><br />
            </div>*@
    </div>
</div>






