@model IEM.Areas.MASTERS.Models.iem_mst_bouncereason

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Bounce Code </span>
                <br />
                <input name="CategoryName" maxlength="50" class="fstextbox required" id="_BounceCode"
                       type="text" data-val="true" value="" />

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Bounce Name</span>
                <br />
                <input name="CategoryName" id="_BounceName" class="fstextbox required" maxlength="70"
                       type="text" data-val="true" value="" />

            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <span> Bounce Type</span><br />
                <input type="radio" id="Cheq" value="Cheque" checked="checked" name="Radiotypename" >
               <span > Cheque </span>
                <input type="radio" id="Online" value="Online" name="Radiotypename">
                <span >Online/Memo</span>

            </td>

        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px; text-align :center;">
                <button type="button" id="_save" disabled="disabled" class="btn btn-primary" value="Save" onclick="SaveCategoryName()"
                        style="margin-top:10px;  color:white;">
                    <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save
                </button>


                <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" style="margin-top:10px;  color:white;">
                    <span style="color:white; font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>

            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#_BounceCode").focus();
        });

        $("#_BounceCode").focus();
        $("#_BounceCode").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_BounceName").focus();
        $("#_BounceName").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });

        $("#_BounceCode").keyup(function () {
            var txtSupplierName = $("#_BounceCode").val();
            if (txtSupplierName.trim() != "") {
                $("#_BounceCode").removeClass('required');
                $("#_BounceCode").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#_BounceCode").removeClass('valid');
                $("#_BounceCode").addClass('required');
                CheckFieldsHeader();
            }
        });

        $("#_BounceName").keyup(function () {
            var txtSupplierName = $("#_BounceName").val();
            if (txtSupplierName.trim() != "") {
                $("#_BounceName").removeClass('required');
                $("#_BounceName").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#_BounceName").removeClass('valid');
                $("#_BounceName").addClass('required');
                CheckFieldsHeader();
            }
        });


    });

    function SaveCategoryName()
    {
        var bounce_code = $("#_BounceCode").val().trim();
        var bounce_name = $("#_BounceName").val().trim();
        var goid = $('input[name=Radiotypename]:checked').val();

        if (bounce_code == "")
        {
           
            jAlert("Please Enter Bounce Code.", "Information")
               
                    $("#_BounceCode").focus();
                    return false;
               
        }

        if (bounce_name == "")
        {

            jAlert("Please Enter Bounce Name.", "Information")

            $("#_BounceName").focus();
            return false;

        }
       
        if (goid == "Cheque")
        {
            var getbounce = "C";
        }
        else if (goid == "Online") {
            var getbounce = "O";
        }
        else
        {
            alert("Please select bounce type !")
            return false;
        }     

        var CategoryModel = { "bouncereason_code": bounce_code, "bouncereason_name": bounce_name, "bouncereason_type": getbounce };
        $.post('../IEM_BOUNCEREASON/CreateBoUNCE', CategoryModel,
            function (data) {
                if (data != "success") {
                    jAlert(data, "Information", function (r) {
                        if (r == true) {
                            return false;
                        }
                    });
                }
                else {
                    jAlert("Record Inserted Successfully !", "Information", function (r) {
                        if (r == true) {
                            location = '../IEM_BOUNCEREASON/Index';
                        }
                    });
                  
                }
            }
        , 'json');   
        
    }

    function GotoIndex()
    {
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
    function CheckFieldsHeader() {

        var ErrCount = 0;
        if ($("#_BounceCode").val().trim() == "" || $("#_BounceCode").val() == null) {
            ErrCount = 1;
        }
        if ($("#_BounceName").val().trim() == "" || $("#_BounceName").val() == null) {
            ErrCount = 2;
        }

        if (ErrCount == 0) {
            $("#_save").removeAttr('disabled');
        }
        else {
            $("#_save").attr('disabled', 'disabled');
        }
    }
</script>



