@{
    ViewBag.Title = "ECFMyRequest";
}

<div>
    <div ng-controller="ecfController">
        <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="font-family:Tahoma;width:100%;table-layout: fixed;" border="1">
            <thead>
                <tr>
                    <th colspan="2">
                        <center>Nature of Expense / Asset Description</center>
                    </th>
                    <th>
                        <center>Category</center>
                    </th>
                    <th>
                        <center>Sub Category</center>
                    </th>
                    <th>
                        <center>Product Code</center>
                    </th>
                    <th>
                        <center>Business Segment</center>
                    </th>
                    <th>
                        <center>Cost Center</center>
                    </th>
                    <th>
                        <center>Branch Code</center>
                    </th>
                    <th>
                        <center>Debit Amount</center>
                    </th>
                </tr>
            </thead>
            <tbody ng-show="ecfdetailsa.length!=0" ng-repeat="ecfdetail in filtered = ecfdetailsa">
                <tr>
                    <td colspan="2" style="overflow: hidden;">
                        <span> {{ecfdetail.NatureofExpensesName}}</span>
                    </td>
                    <td style=" overflow: hidden;">
                        <span> {{ecfdetail.ExpenseCategoryName}}</span>
                    </td>
                    <td style=" overflow: hidden;">
                        <span> {{ecfdetail.SubCategoryName}}</span>
                    </td>
                    <td style=" overflow: hidden;">
                        <span>{{ecfdetail.ProductCode}}</span>
                    </td>
                    <td style=" overflow: hidden;">
                        <span>{{ecfdetail.FC}}</span>
                    </td>
                    <td style=" overflow: hidden;">
                        <span>{{ecfdetail.CC}}</span>
                    </td>
                    <td style="overflow: hidden;">
                        <span>{{ecfdetail.OUCode}}</span>
                    </td>
                    <td style="overflow: hidden;" align="right">
                        <span>{{ecfdetail.AmountINR}}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="ecfdetailsa.length==0">
                <tr>
                    <td align="center" colspan="8"><center>No Records Found</center></td>
                </tr>
            </tfoot>
        </table>
        <table style="width:100%;table-layout: fixed;">
            <tr>
                <td align="left"><b><font>Debit Total</font></b></td>
                <td align="right"><b><font> {{ getTotala() }}</font></b></td>
            </tr>
        </table>
    </div>
</div>


