@model IEnumerable<IEM.Areas.IFAMS.Models.AssetParentModel>
@using IEM.Common
@{
    ViewBag.Title = "ViewAssetmergesummary";   
    var grid = new WebGrid(source: Model, canPage: false, canSort: false, ajaxUpdateContainerId: "grid");
    int id = @grid.PageIndex;
    CmnFunctions obj = new CmnFunctions();
    int rowVal = 0;
}

<b>
    
</b>

<div style="background-color:white;font-size:12px;">
    <div style="margin-top:17px;overflow-y:scroll;" class="overflowx overflowy">

        @*HttpContext.Current.Session["AssetIdChecked"]*@

        @grid.GetHtml(
                        fillEmptyRows: false,
                        tableStyle: "tableSmall table-bordered table-hover table-responsive",
                        htmlAttributes: new { id = "checkableGrid" },
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                                 grid.Column(header: "S.No", format: item => rowVal = rowVal + 1),
                                 grid.Column("AssetId", obj.Sorter("AssetId", "Asset ID", grid), style: "MidColumns30"),
                                 grid.Column("Location", obj.Sorter("Location", "Branch", grid), style: "MidColumns10"),
                                 grid.Column("AssetCatName", obj.Sorter("AssetCatName", "Asset Category", grid), style: "MidColumns50"),
                                 grid.Column("AssetSubCode", obj.Sorter("AssetSubCode", "Asset Sub-Category Code", grid), style: "MidColumns10"),
                                 grid.Column("AssetDes", obj.Sorter("AssetDes", "Asset Sub-Category", grid), style: "MidColumns50"),
                                 grid.Column("MAssetValue", obj.Sorter("MAssetValue", "Asset Value", grid), style: "MidColumns20")

                                ))

        <div class="table-bordered btnCenter" align="center">
            <b> @ViewBag.Message </b>
        </div>
        <br />
       

    </div>
    <div class="myTableStyleTabNew">
        <b><span>  Total No Of Records :@grid.TotalRowCount </span></b>
    </div>
</div>
<table align="center" class="myTableStyleTabNew">
    <tr>
        <td align="center">

            <button type="button" name="command" id="CloseMerged" onclick="goToIndex()" class="btn backbtn btn-warning"><span style="color:white" class="glyphicon glyphicon-circle-arrow-left"> Back</span></button>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function goToIndex()
    {       
        window.parent.jQuery('#PartialViewforAssetmerge').dialog('close');
    }    
</script>

