@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>
<style>
    .SortText span {
        color: white;
        font-size: x-small;
    }
</style>
<span class="pageHeading">Pending For GRN Confirmation & CWIP Release</span>
<div ng-app="GRNApp">
    <div class="well" id="tabs" ng-controller="GRNController" style="padding-bottom:50px;">
        <ul>
            <li><a href="#divConfirmation">Pending For GRN Confirmation</a></li>
            <li><a href="#divCWIP">Pending For CWIP Release</a></li>
        </ul>
        <div style="width:100%;" id="divConfirmation">
            <div style="width:100%" class="row">
                <div class="form-group">
                    <div class="col-xs-11">
                        <label for="inputdefault">Search</label>
                        <input class="form-control" ng-model="search.$" type="text">
                    </div>
                    <div class="col-xs-1">
                        <label for="inputdefault">Items/Page</label>
                        <select class="form-control" ng-model="entryLimit">
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div style="width:100%;overflow-x:scroll;" id="divData">
                <div style="width:130%;">
                    <table class="tableSmall table-bordered table-hover table-responsive" id="tblExpp">
                        <thead>
                            <tr>
                                <th style="width:3%;">
                                    S.No
                                </th>
                                <th style="width:15%;">
                                    GRN #
                                </th>
                                <th style="width:15%;">
                                    PO #
                                </th>
                                <th style="width:25%;">
                                    Supplier Name
                                </th>
                                <th style="width:10%;">
                                    Inward Date
                                </th>
                                @*<th style="width:7%;">
                                Inward Item Count
                            </th>*@
                                <th style="width:10%;">
                                    Branch Type
                                </th>
                                <th style="width:15%;">
                                    Confirmation Pending At
                                </th>
                                <th style="width:15%;">
                                    ECF #
                                </th>
                                <th style="width:15%;">
                                    Invoice #
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="filtered.length>0" ng-repeat="item in (filtered = (items| filter:search)) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <tr>
                                <td style="width:3%;" align="center">
                                    {{item.SNo}}
                                </td>
                                <td style="width:15%;">
                                    {{item.GRNNumber}}
                                </td>
                                <td style="width:15%;">
                                    {{item.PONumber}}
                                </td>
                                <td style="width:25%;">
                                    {{item.Supplier}}
                                </td>
                                <td style="width:10%;">
                                    {{item.GRNInwardDate}}
                                </td>
                                @*<td style="width:7%;">
                                {{item.InwardCount}}
                            </td>*@
                                <td style="width:10%;">
                                    {{item.BranchType}}
                                </td>
                                <td style="width:15%;">
                                    {{item.Raiser}}
                                </td>
                                <td style="width:15%;">
                                    {{item.ECFNumber}}
                                </td>
                                <td style="width:15%;">
                                    {{item.InvoiceNumber}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="filtered.length==0">
                            <tr>
                                <td colspan="8" style="text-align:center">
                                    No Records Found
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div style="width:100%;">
                <div ng-show="filtered.length>0">
                    <table style="width:100%;">
                        <tr>
                            <td style="color:#337ab7;font-weight:bold; padding-left:10px" align="left"> Total Records : <span>{{filtered.length}} </span> of <span>{{totalItems}} </span>  </td>
                            <td align="right">
                                <pagination total-items="filtered.length"
                                            ng-model="currentPage"
                                            page="currentPage"
                                            max-size="noofsetpages"
                                            boundary-links="true"
                                            items-per-page="entryLimit" class="pagination-sm" style="cursor:pointer;">
                                </pagination>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="divCWIP" style="width:100%;">
            <div style="width:100%" class="row">
                <div class="form-group">
                    <div class="col-xs-11">
                        <label for="inputdefault">Search</label>
                        <input class="form-control" ng-model="search1.$" type="text">
                    </div>
                    <div class="col-xs-1">
                        <label for="inputdefault1">Items/Page</label>
                        <select class="form-control" ng-model="entryLimit1">
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div style="width:100%;overflow-x:scroll;">
                <div style="width:130%;">
                    <table class="tableSmall table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th style="width:3%;">
                                    S.No
                                </th>
                                <th style="width:15%;">
                                    GRN #
                                </th>
                                <th style="width:15%;">
                                    PO #
                                </th>
                                <th style="width:25%;">
                                    Supplier Name
                                </th>
                                <th style="width:10%;">
                                    Inward Date
                                </th>
                                @*<th style="width:7%;">
                                Inward Item Count
                            </th>*@
                                <th style="width:10%;">
                                    Branch Type
                                </th>
                                <th style="width:15%;">
                                    Confirmation Pending At
                                </th>
                                <th style="width:15%;">
                                    ECF #
                                </th>
                                <th style="width:15%;">
                                    Invoice #
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="filtered1.length>0" ng-repeat="item1 in (filtered1 = (items1| filter:search1)) | startFrom1:(currentPage1-1)*entryLimit1 | limitTo:entryLimit1">
                            <tr>
                                <td style="width:3%;" align="center">
                                    {{item1.SNo}}
                                </td>
                                <td style="width:15%;">
                                    {{item1.GRNNumber}}
                                </td>
                                <td style="width:15%;">
                                    {{item1.PONumber}}
                                </td>
                                <td style="width:25%;">
                                    {{item1.Supplier}}
                                </td>
                                <td style="width:10%;">
                                    {{item1.GRNInwardDate}}
                                </td>
                                @*<td style="width:7%;">
                                {{item.InwardCount}}
                            </td>*@
                                <td style="width:10%;">
                                    {{item1.BranchType}}
                                </td>
                                <td style="width:15%;">
                                    {{item1.Raiser}}
                                </td>
                                <td style="width:15%;">
                                    {{item1.ECFNumber}}
                                </td>
                                <td style="width:15%;">
                                    {{item1.InvoiceNumber}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="filtered1.length==0">
                            <tr>
                                <td colspan="8" style="text-align:center">
                                    No Records Found
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div style="width:100%;">
                <div ng-show="filtered1.length>0">
                    <table style="width:100%;">
                        <tr>
                            <td style="color:#337ab7;font-weight:bold; padding-left:10px" align="left"> Total Records : <span>{{filtered1.length}} </span> of <span>{{totalItems1}} </span>  </td>
                            <td align="right">
                                <pagination total-items="filtered1.length"
                                            ng-model="currentPage1"
                                            page="currentPage1"
                                            max-size="noofsetpages1"
                                            boundary-links="true"
                                            items-per-page="entryLimit1" class="pagination-sm" style="cursor:pointer;">
                                </pagination>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var currentTab = 0;
        $("#tabs").tabs({
            select: function (e, i) {
                currentTab = i.index;
            }
        });
        $("#tabs").css("display", "block");
    });
    var queryApp = angular.module('GRNApp', ['ui.bootstrap']);
    queryApp.controller('GRNController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
        $scope.items = [];
        $scope.currentPage = 1;
        $scope.totalItems = $scope.items.length;
        $scope.entryLimit = 10;
        $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
        $scope.noofsetpages = 5;

        $scope.items1 = [];
        $scope.currentPage1 = 1;
        $scope.totalItems1 = $scope.items1.length;
        $scope.entryLimit1 = 10;
        $scope.noOfPages1 = Math.ceil($scope.totalItems1 / $scope.entryLimit1);
        $scope.noofsetpages1 = 5;
        //hideProgress();
        showProgress();
        $http.get('../Print/PendingForConfirmationData?' + new Date().getTime())
        .then(function (response) {
                 $scope.items = JSON.parse(response.data.data0);
                 $scope.search = {};
                 $scope.resetFilters = function () {
                     $scope.search = {};
                 };
                 $scope.currentPage = 1;
                 $scope.totalItems = $scope.items.length;
                 $scope.entryLimit = 10;
                 $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
                 $scope.noofsetpages = 5;
                 $scope.$watch('search', function (newVal, oldVal) {
                     $scope.filtered = $filter('filter')($scope.items, newVal);
                     $scope.totalItems = $scope.filtered.length;
                     $scope.noOfPages = Math.ceil($scope.filtered.length / $scope.entryLimit);
                     $scope.currentPage = 1;
                     $scope.noofsetpages = 5;
                 }, true);
                 $scope.items1 = JSON.parse(response.data.data1);
                 $scope.search1 = {};
                 $scope.resetFilters1 = function () {
                     $scope.search1 = {};
                 };
                 $scope.currentPage1 = 1;
                 $scope.totalItems1 = $scope.items1.length;
                 $scope.entryLimit1 = 10;
                 $scope.noOfPages1 = Math.ceil($scope.totalItems1 / $scope.entryLimit1);
                 $scope.noofsetpages1 = 5;
                 $scope.$watch('search1', function (newVal, oldVal) {
                     $scope.filtered1 = $filter('filter')($scope.items1, newVal);
                     $scope.totalItems1 = $scope.filtered1.length;
                     $scope.noOfPages1 = Math.ceil($scope.filtered1.length / $scope.entryLimit1);
                     $scope.currentPage1 = 1;
                     $scope.noofsetpages1 = 5;
                 }, true);
                 hideProgress();
       })
        .catch(function (response) {
            hideProgress();
            jAlert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText, "Information");
            return false;
            //alert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText);
            console.error('Gists error', response.status, response.data);
        })
       .finally(function () {
            hideProgress();
    });
      
    }]);
    queryApp.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });
    queryApp.filter('startFrom1', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        }
    });

</script>