
<div class="table-responsive" style="padding-right: 10px;">
    <div align="right" style="padding-bottom:5px;">
        <button type="button" id="addnooffemp" value="New Employee" onclick="NewEmployee1()" class="btn btn-primary">
            <span style="color:white;font-size: 12px;" class="glyphicon glyphicon-plus"></span> New Employee
        </button>
    </div>
    @Html.Partial("_EmpEmployeeDetails")
</div>
<br />
<div id="ForEmployeeadddatas"></div>
<div id="ForPartialViewEmployeeadd"></div>
<script type="text/javascript">
    var objDialogEmployeeadd;
    $(document).ready(function () {
        objDialogEmployeeadd = $("[id$='ForPartialViewEmployeeadd']");
        objDialogEmployeeadd.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            title: 'Add Employee ',
            width: 900,
            height: 650
        });
    });
    var objForEmployeeadddatas;
    $(document).ready(function () {
        objForEmployeeadddatas = $("[id$='ForEmployeeadddatas']");
        objForEmployeeadddatas.dialog({
            autoOpen: false,
            cache: false,
            modal: true,
            //show: 'fade-in',
            //close: 'fade-out',
            width: 500,
            height: 300,
        });

    });

    function NewEmployee1() {
        var url = '@Url.Action("_Emplistadd", "TravelClaimNew")?' + new Date().getTime();
        objForEmployeeadddatas.load(url);
        objForEmployeeadddatas.dialog({ title: 'Add Employee ' });
        objForEmployeeadddatas.dialog("open");
    }
    function EmployeeelistDelete(id) {
        jConfirm("Do you want to delete This Employee...? ", "Message", function (u) {
            if (u == true) {
                var EmpPaymentmodel = { "employeeGid": id }
                $.post('../TravelClaimNew/DeleteEmployeelsts', EmpPaymentmodel,
              function (data) {
                  if (data == 0) {
                      jAlert("Error.", "Error");
                      return false; location = location.href;
                  } else {
                      jAlert("Deleted Successfully.", "Message");
                      var url = '@Url.Action("_EmpEmployeeDetails", "TravelClaimNew")?' + new Date().getTime();
                      $("#wgempEmployeee").load(url);
                      window.parent.jQuery('#ForEmployeeadddatas').dialog('close');
                  }
              }, 'json');
            }
        });
    }
</script>