.HeaderTop {
    width: 100%;
    height: 50px;
    background-color: #EEF0F2;
}

.HeaderMenu {
    height: 30px;
    background-color: #7C6A55;
    margin:0;
    padding:0;
}
.GenderIconLink img{
    padding:0;
    margin:0;
    cursor:pointer;
}
.GenderIconLink img{
    height:25px;
    width:25px;
}
.HeaderLine {
    height: 2px;
    background-color: #f6e8e8;
}
.borderStyleBlue{
    border-radius: 5px;
    opacity: 50;
    border: 2px solid rgb(128, 128, 128);
}
.HeaderLineBottom {
    height: 2px;
    background-color: #fcfcfc;
}

.HeaderImgLeft {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.HeaderImgRight {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.HeaderModule {
    text-align: center;
    font-family: sans-serif;
    color: #4478A3;
    font-size: x-large;
    margin: 0 auto 0;
}
.divforbutton span{
    font-weight: normal;
            font-size: 13px;
            color: #fff;
}  
.divforbutton a{
    font-weight: normal;
    font-size: small;
    color: #fff;
} 
.divforbutton a span{
    font-weight: normal;
            font-size: small;
            color: #fff;
}   
.whitecolor{
    color:white;
}
.input-validation-error, .required {
    border-left: 5px solid #7C6A55 !important;
}

.valid {
    border-left: 5px solid #E36F1E !important;
}


.field-validation-error {
    color: #990000;
}

.RedColorFont {
    color: red;
}

.BlueColorFont {
    color: blue;
    cursor: pointer;
    text-align: right;
    float: right;
}

.linkStyle {
    color: blue;
}

    .linkStyle:hover {
        color: blue;
        text-decoration: underline;
    }

.cursorpointer {
    cursor: pointer;
}
.legendStyle {
  font-size:small;
  font-weight:bold;

}
fieldset legend {
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-validation-error {
    color: #990000;
}

.footerstyle {
    position: fixed;
    bottom: 0;
    margin: 0 auto 0;
    left: -5.3%;
    padding-top: 10px;
    width: 110%;
    height: 40px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-top: 1px solid #efeded;
}

tfoot {
    text-align: right;
}

    tfoot > tr > td a:link {
        color: #fff;
        background-color: #333;
        padding: 5px 10px;
        border-radius: 7px;
    }

.VerticalLineStyle {
    height: 100%;
    border-left: 2px solid #ff0000;
}

.myTableStyle td {
    padding: 10px;
}

.myTableStyleTab {
    padding: 10px;
}

    .myTableStyleTab td {
        text-align:left;
        padding: 4px;
        color: black;
        vertical-align: bottom;
        min-height: 50px;
        padding-top: 10px;
        font-size: small;
        font-weight: normal;
        max-width: 242px;
    }

        .myTableStyleTab td a span {
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            color: #DF9357;
        }
    .statusTableStyle{
        padding: 4px;
        color: Red;
        vertical-align: bottom;
        font-size: small;
        font-weight: normal;
    }

    .myTableStyleTabdashboard {
    padding: 10px;
}

    .myTableStyleTabdashboard td {
        padding: 4px;
        color: black;
        vertical-align: bottom;
        min-height: 10px;
        padding-top: 10px;
        font-size: small;
        font-weight: normal;
        max-width: 242px;
    }

        .myTableStyleTabdashboard td a span {
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            color: #DF9357;
        }
    
.myTableStyleTabpopup{
    padding: 10px;
}
.myTableStyleTabpopup td {
    text-align:left;
    padding: 4px;
    color: black;
    vertical-align: top;
    min-height: 50px;
    padding-top: 1px;
    font-size: small;
    font-weight: normal;
}

.myTableStyleTabpopup td span {
    font-weight: normal;
    font-size: 13px;
    color: #333;
}

.myTableStyleTabpopup td a {
    font-weight: normal;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}
.myTableStyleTabpopup td a span:hover {
    font-weight: normal;
    cursor: pointer;
    font-size: 13px;
    color: #2a6393;
}

.myTableStyleTabpopup td a span {
    font-weight: normal;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}
.myTableStyleTabNew {
    padding: 10px;
}

.myTableStyleTabNew td {
    text-align:left;
    padding: 4px;
    color: black;
    vertical-align: top;
    min-height: 50px;
    padding-top: 1px;
    font-size: small;
    font-weight: normal;
}

.myTableStyleTabNew td span {
    font-weight: normal;
    font-size: 13px;
    color: #333;
}

.myTableStyleTabNew td a span {
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: #DF9357;
}

.myTableStyleTabNew td a span:hover {
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: #2a6393;
}

.myTableStyleTab td span {
    font-weight: normal;
    font-size: 13px;
    color: #333;
}

.InlineIconStyle b {
    cursor: pointer;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

.InlineIconStyleA span {
    cursor: pointer;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

.iconbuttonStyle {
    border: 2px solid #041344;
    border-radius: 3px;
    padding: 4px 1px 1px 3px;
    vertical-align: middle;
}

.borderStyle {
    border-radius: 5px;
    opacity: 50;
    border: 1px solid #ada8a8;
}
.borderStyleNew {
    border-radius: 5px;
    padding:10px;
    opacity: 50;
    border: 1px solid #ada8a8;
}
.SampleTextStyle{
      color: black;
      text-align:left;
      font-size: 13px;
      font-weight: normal;
}
.SampleTextStyle a{
      cursor:pointer;
}
.overflowx {
    overflow-x: auto;
}

.overflowy {
    overflow-y: auto;
}

.overflownone {
    overflow: hidden;
}

.action {
    width: 15%;
    min-width: 150px;
    text-align: center;
}

    .action a {
        padding: 8px;
        cursor: pointer;
    }

.IdColumn {
    text-align: center;
    width: 10%;
    min-width: 40px;
}

.MidColumn5 {
    width: 5%;
    max-width: 50px;
    min-width: 30px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.MidColumn10 {
    width: 10%;
    max-width: 80px;
    min-width: 30px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.amountright {
    /*padding-left:100px ;
    width: 10%;
    max-width: 80px;
    min-width: 30px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;*/
    text-align:right;

}

.MidColumn20 {
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.MidColumn20Center {
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    text-wrap: normal;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

    .MidColumn20Center a {
        padding: 8px;
        cursor: pointer;
    }

.MidColumn30 {
    width: 30%;
    max-width: 300px;
    min-width: 150px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.MidColumn40 {
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.MidColumn50 {
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.MidColumn60 {
    width: 60%;
    max-width: 600px;
    min-width: 200px;
    text-wrap: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.hiddenfield {
    display: none;
    padding: 0;
}
/*.table {
    border-collapse: collapse !important;

  }
  .table td
  {
    background-color: #fff !important;
  }
  .table th {
      color:navy;
      font-weight:bold;
      text-align:center;
    background-color: #f5f5f5 !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
    
  .table {
       border-collapse: collapse;
        text-align: left; width: 100%; 
  }*/
.table {
    min-width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 50px;
    text-wrap: none;
    word-break: keep-all;
}

    .table td, .table th {
        padding: 3px 3px;
        text-wrap: none;
        word-break: keep-all;
    }

    .table thead th {
        /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e7294), color-stop(1, #337ab7) );
      background:-moz-linear-gradient( center top, #006699 5%, #337ab7 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#337ab7', endColorstr='#2e7294');*/
        background-color: #DF9357;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        border-left: 1px solid #0070A8;
        text-wrap: none;
        word-break: keep-all;
        text-align: center;
    }

    .table th a {
        color: white;
        text-wrap: none;
        width: 100%;
        word-break: keep-all;
    }

    .table thead th:first-child {
        border: none;
        text-wrap: none;
        word-break: keep-all;
    }

    .table tbody td {
        color: black;
        border-left: 1px solid #E1EEF4;
        font-size: 12px;
        font-weight: normal;
    }

    .table tbody .alt td {
        background: #E1EEF4;
        color: #00496B;
    }

    .table tbody td:first-child {
        border-left: none;
        vertical-align:middle;
    }

    .table tbody tr:last-child td {
        border-bottom: none;
    }

    .table tfoot td {
        border-top: 1px solid #006699;
        background: #E1EEF4;
    }

    .table tfoot td {
        padding: 0;
        font-size: 12px;
    }

    .table tfoot td {
        padding: 2px;
    }

    .table tfoot td {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

        .table tfoot td a {
            display: inline;
        }

    .table tfoot a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 8px;
        margin: 1px;
        color: #FFFFFF;
        border: 1px solid #006699;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
        background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
        background-color: #006699;
    }

        .table tfoot a.active, .table tfoot a:hover {
            text-decoration: none;
            border-color: #006699;
            color: #FFFFFF;
            background: none;
            background-color: #00557F;
        }

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}

#Pager a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

.custwidth {
    width: 10px;
    height: 20px;
}

.tableSmall {
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
   
}

    .tableSmall td, .table th {
        padding: 3px 10px;
    }

    .tableSmall thead th {
        background-color: #DF9357;
        padding: 3px;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: normal;
        border-left: 1px solid #0070A8;
        text-align: center;
    }

    .tableSmall th a {
        color: white;
    }

    .tableSmall thead th:first-child {
        /*border: none;*/
        background-color: #DF9357


    }
    .rightAlign {
        text-align:right !important;
    }
    .leftAlign {
        text-align:left !important;
    }
    .centerAlign {
        text-align:center !important;
    }

    .tableSmall tbody td {
        /*color: #00496B;*/
        color: black;
        border-left: 1px solid #E1EEF4;
        font-size: 13px;
        font-weight: normal;
    }

        .tableSmall tbody td a {
            cursor: pointer;
        }

    .tableSmall tbody .alt td {
        background: #E1EEF4;
        color: #00496B;
    }

    .tableSmall tbody td:first-child {
        border-left: none;
    }

    .tableSmall tbody tr:last-child td {
        border-bottom: none;
    }
/*.tableSmall td:nth-child(1), table th:nth-child(1) {
  display: none;
}*/
    .tableSmall tfoot td {
        border-top: 1px solid #006699;
        background: #E1EEF4;
        padding: 3px;
        font-size: 15px;
        list-style: none;
        text-align: right;
    }

    .tableSmall tfoot > tr > td a:link {
        padding: 1px 5px;
        background-color: #006699;
    }

    .tableSmall tfoot td a {
        text-decoration: none;
        background-color: #006699;
        display: inline-block;
        padding: 1px 1px;
        margin: 0;
        color: #FFFFFF;
        border: 1px solid #DF9357;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #337ab7), color-stop(1, #00557F) );
         background:-moz-linear-gradient( center top, #337ab7 5%, #00557F 100% );
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#337ab7', endColorstr='#00557F');*/
    }

    .tableSmall tfoot a.active, .tableSmall tfoot a:hover {
        text-decoration: none;
        border-color: #DF9357;
        color: #FFFFFF;
        background: none;
        background-color: #DF9357;
    }
 
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}

.textboxStyle {
    width: 90%;
    height: 27px;
    margin-top: 5px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.textboxStyle:focus {
    border-color: #DF9357;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.textboxStyle::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.textboxStyle:-ms-input-placeholder {
    color: #999;
}

.textboxStyle::-webkit-input-placeholder {
    color: #999;
}

.textboxStyle[disabled],
.textboxStyle[readonly],
fieldset[disabled] .textboxStyle {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.textboxStyle100 {
    width: 100%;
    height: 27px;
    margin-top: 5px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.textboxStyle100:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.textboxStyle100::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.textboxStyle100:-ms-input-placeholder {
    color: #999;
}

.textboxStyle100::-webkit-input-placeholder {
    color: #999;
}

.textboxStyle100[disabled],
.textboxStyle100[readonly],
fieldset[disabled] .textboxStyle {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

.textboxStyleMedium80 {
    width: 80%;
    height: 27px;
    padding: 4px 8px;
    font-size: 13px;
    color: #000;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleMedium80:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleMedium80::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleMedium80:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium80::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium80[disabled],
    .textboxStyleMedium80[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.contentBackground {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.textboxStyleMedium {
    width: 60%;
    height: 27px;
    padding: 4px 8px;
    font-size: 13px;
    color: #000;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleMedium:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleMedium::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleMedium:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium[disabled],
    .textboxStyleMedium[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }
    .textboxStyleMedium50{
    width: 50%;
    height: 27px;
    padding: 4px 8px;
    font-size: 13px;
    color: #000;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleMedium50:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleMedium50::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleMedium50:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium50::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleMedium50[disabled],
    .textboxStyleMedium50[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.textboxStyleBig {
    width: 100%;
    margin-top: 5px;
    height: 27px;
    padding: 4px 8px;
    font-size: 13px;
    color: #000;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.textboxStyleSearch {
    width: 100%;
    height: 35px;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    /*color: #555;*/
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleSearch:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleSearch::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleSearch:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleSearch::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleSearch[disabled],
    .textboxStyleSearch[readonly],
    fieldset[disabled] .textboxStyleSearch {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.textboxStyleSmall {
    width: 40%;
    height: 27px;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 13px;
    color: black;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleSmall:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleSmall::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleSmall:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleSmall::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleSmall[disabled],
    .textboxStyleSmall[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }
    .textboxStyleSmall50 {
    width: 44%;
    height: 27px;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 13px;
    color: black;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyleSmall50:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyleSmall50::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyleSmall50:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyleSmall50::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyleSmall50[disabled],
    .textboxStyleSmall50[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.textareaStyle {
    width: 100%;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 13px;
    color: black;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textareaStyle:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textareaStyle::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textareaStyle:-ms-input-placeholder {
        color: #999;
    }

    .textareaStyle::-webkit-input-placeholder {
        color: #999;
    }

    .textareaStyle[disabled],
    .textareaStyle[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.searchiconstyle {
    border: medium none;
    background-color: rgb(245, 245,245);
}
.btnCenter 
{
    text-align:center;
}
.OverflowVisible{
    overflow:visible;
}

 .textboxStyle200 {
    width: 200%;
    height: 27px;
    font-weight: normal;
    padding: 4px 8px;
    font-size: 13px;
    color: black;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .textboxStyle200:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .textboxStyle200::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .textboxStyle200:-ms-input-placeholder {
        color: #999;
    }

    .textboxStyle200::-webkit-input-placeholder {
        color: #999;
    }

    .textboxStyle200[disabled],
    .textboxStyle200[readonly],
    fieldset[disabled] .textboxStyle {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

    .sltd {
        width: 3% !important;
        padding: 3px !important;
        min-width: 37px !important;
    }

    .productCode {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px !important;
    }

    .productName {
        width: 12% !important;
        padding: 3px !important;
        min-width: 150px !important;
    }

    .description {
        width: 17% !important;
        padding: 3px !important;
        min-width: 213px !important;
    }

    .UOM {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px !important;
    }

    .QTY {
        width: 5% !important;
        padding: 3px !important;
        text-align: center;
        min-width: 62px !important;
    }

    .unitAmt {
        width: 8% !important;
        padding: 3px !important;
        text-align: right;
        min-width: 100px !important;
    }

    .Total {
        width: 9% !important;
        padding: 3px !important;
        text-align: right;
        min-width: 113px !important;
    }

    .chartofaccount {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px !important;
    }

    .FCCC {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px !important;
    }

    .budgetLine {
        width: 8% !important;
        padding: 3px !important;
        min-width: 100px !important;
    }

    .boq {
        width: 7% !important;
        padding: 3px !important;
        min-width: 88px !important;
    }

    .act {
        width: 5% !important;
        padding: 3px !important;
        min-width: 62px !important;
    }

    .myTab {
        min-width: 1830px !important;
    }