@using IEM.Areas.EOW.Models;
@using IEM.Common
@model IEnumerable<IEM.Areas.EOW.Models.EOW_EmployeeeExpense>
@{
    ViewBag.Title = "Index";
    CmnFunctions objCmnFunctions = new CmnFunctions();
    var grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 12, ajaxUpdateContainerId: "searchpogridl", ajaxUpdateCallback: "fb_employee();");
}
<style>
    .csupdebitline {
        width: 15% !important;
        padding-left: 5px !important;
        min-width: 120px;
        word-wrap: break-word;
    }

    .asupdebitline {
        width: 15% !important;
        padding-left: 5px !important;
        min-width: 170px;
        word-wrap: break-word;
    }

    .dsupdebitline {
        width: 15% !important;
        padding-left: 5px !important;
        min-width: 250px;
        word-wrap: break-word;
    }

    .fsupdebitline {
        width: 15% !important;
        padding-left: 5px !important;
        min-width: 300px;
        word-wrap: break-word;
    }
</style>
<div id="searchpogridl">
    <div class="table-responsive" style="max-height: 350px;">
        @grid.GetHtml(
                                                   htmlAttributes: new { id = "wgSuppliersuppliermainl" },
                                                   tableStyle: "tableSmall table-bordered table-hover table-responsive",
                        mode: WebGridPagerModes.All,
                        columns:
                                   grid.Columns(
                //grid.Column("#", canSort: false, format: item => rowValExpense = rowValExpense + 1),
                                                      grid.Column("ClaimMonth", objCmnFunctions.Sorter("ClaimMonth", "GL NO", grid), canSort: false, style: "csupdebitline"),
                                                      grid.Column("ecf_raisername", objCmnFunctions.Sorter("ecf_raisername", "GL Name", grid), canSort: false, style: "dsupdebitline"),
                                             grid.Column("ecfdelmatamt", objCmnFunctions.Sorter("ecfdelmatamt", "Company Code", grid), canSort: false, style: "asupdebitline"),
                                             grid.Column("ecfdescription", objCmnFunctions.Sorter("ecfdescription", "Business Segment(BU)", grid), canSort: false, style: "asupdebitline"),
                                                      grid.Column("Exp_Amount", objCmnFunctions.Sorter("Exp_Amount", "Cost Center(CC)", grid), canSort: false, style: "dsupdebitline"),
                                                      grid.Column("ecfremark", objCmnFunctions.Sorter("ecfremark", "Product Code", grid), canSort: false, style: "asupdebitline"),
                                                      grid.Column("ecfno", objCmnFunctions.Sorter("ecfno", "Location Code(OUCode)", grid), canSort: false, style: "fsupdebitline"),
                                                      grid.Column("Raiser_Code", objCmnFunctions.Sorter("Raiser_Code", "Customer Segment", grid), canSort: false, style: "asupdebitline"),
                                                      grid.Column("Raiser_Name", objCmnFunctions.Sorter("Raiser_Name", "Sale Channel", grid), canSort: false, style: "asupdebitline"),
                                             grid.Column("NatureofExpensesName", objCmnFunctions.Sorter("NatureofExpensesName", "Future1", grid), canSort: false, style: "asupdebitline"),
                                             grid.Column("ExpenseCategoryName", objCmnFunctions.Sorter("ExpenseCategoryName", "Future2", grid), canSort: false, style: "asupdebitline"),
                                               grid.Column("SubCategoryName", objCmnFunctions.Sorter("SubCategoryName", "Future3", grid), canSort: false, style: "asupdebitline")))

        @if (@ViewBag.NoRecords == "NoRecords")
        {
            <div class="borderStyle">
                <center>
                    <b>  @ViewBag.NoRecordsFound</b>
                </center>
            </div>
        }
    </div>
    <br />
    <div style="width: 100%;" align="center">
        <div class="input-append ">
            <span class="input-append">
                <button type="button" id="btnCancel1h" title="Cancel" name="Cancel" class="btn btn-warning" onclick="GotoIndexivn()"><span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
            </span>
        </div>
    </div>
</div>
<script>
    function fb_employee() {
        $("#grid td:nth-child(2),#grid th:nth-child(2)").show();
    }
    function GotoIndexivn() {
        objDialogExpenseglno.dialog("close");
        window.parent.jQuery('#ForPartialViewExpenseglno').dialog('close');
    }
</script>