@model IEM.Areas.EOW.Models.EOW_arfraising

@{
    ViewBag.Title = "Raising ARF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span> <h4>Raising ARF</h4></span></h2>
<div class="well">
    <br />
    <fieldset>
        <legend>Advance Request</legend>
        <center>
            <div style="padding:0;margin:0;">
                @Html.Partial("ArfHeader")
            </div>
        </center>
    </fieldset>
</div>