

<style>
    .tblstyle tr td {
        padding: 10px;
    }
</style>

@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew">
        <tr>
            <td style="padding-left:24px">
                <div>
                    Role
                </div>
                <div class="input-append">
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.Rolelist, "-----Select-----", new { @class = "form-control ", @style = "display: block;width:250px;", @id = "RoleId" })
                </div>
            </td>
        </tr>
    </table>
        <table class="myTableStyleTabNew" align="center">
            <tr>
                <td>
                    <div>
                        <button type="button" class="btn btn-danger" value="Delete" onclick="DeleteRole()">Delete <span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" class="btn btn-warning" value="Close" onclick="GotoIndex()">Close <span style="color:white;" class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
        </table>
}
<script type="text/javascript">
    function DeleteRole() {
        var DocGrpID = $("#DocGrpID").val();
        var DocGrpModel = {
            "docGrpID": DocGrpID
        };
        jConfirm("Do you want to delete this Employee Role ? ", "Delete Employee Role", function (j) {
            if (j == true) {
                $.post('../EmployeeRole/RoleEmployeeDelete', DocGrpModel,
                     function (data) {
                         if (data == "1") {
                             jAlert("Record Deleted Successfully!!!", "Information", function (r) {
                                 if (r = true) { location.reload(); }
                             });
                         }
                         else {
                             jAlert("Can Not Delete this, Its Based On Some Other category!!", "Information", function (r) {
                                 if (r = true) { location = location.href; }
                             });

                         }
                     }, 'json');
            }
            else { return false; }
        });
    }
    function GotoIndex() {
        objDialog.remove();
        //window.parent.jQuery('#ForPartialView1').dialog('close');
    }
</script>