
<style>
    .tblstyle tr td {
        padding: 10px;
    }
</style>

@using (Html.BeginForm())
{
    <table class="myTableStyleTabNew">
        <tr>
            <td style="padding-left:24px">
                <div>
                    Role
                </div>
                <div class="input-append">
                    @Html.DropDownList("cnm", (IEnumerable<SelectListItem>)ViewBag.Rolelist, "-----Select-----", new { @class = "form-control ", @style = "display: block;width:250px;", @id = "RoleId" })
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table class="myTableStyleTabNew" align="center">
        <tr>
            <td>
                <div>
                    <button type="button" id="btnsave" class="btn btn-primary" value="Save" onclick="Save()"><span class="glyphicon glyphicon-floppy-disk" style="color:white;"></span> Save</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                </div>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    function Save() {
        var RoleId = $("#RoleId").val();
        if (RoleId == null || RoleId == "")
        {
            jAlert("You Can't Add Empty Values", "Information");
            return false;
        }
        var Student = {
            "Roleid": RoleId
        };
        $.ajax({
            url: '/EmployeeRole/RoleEmployeeAdding/',
            data: JSON.stringify(Student),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                isSuccess = result;
                jAlert(result, "Information", function (r) {
                    if (r == true) {
                        MapEmployee();
                    }
                });
            },
            error: function (result) {
                isSuccess = result;
            }
        })
        
    }
    $(document).ready(function () {

        $(function () {
            $("#RoleId").focus();
        });

        if ($("#RoleId").val() == "" || $("#RoleId").val() == null) {           
            $("#btnsave").attr("disabled", true);
        }
        else {
            $("#btnsave").removeAttr('disabled');
        }
        $("#RoleId").change(function () {
            var txtContractTo = $("#RoleId").val();
            if (txtContractTo.trim() != "") {
                $("#btnsave").removeAttr('disabled');
                $("#RoleId").removeClass('required');
                $("#RoleId").addClass('valid');
            }
            else {
                $("#btnsave").attr("disabled", true);
                $("#RoleId").removeClass('valid');
                $("#RoleId").addClass('required');
            }
        });
    });
    function GotoIndex() {
        window.parent.jQuery('#ForPartialView2').dialog('close');
    }
</script>