
<style>
    .tblstyle tr td {
        padding: 10px;
    }
</style>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <table class="tblstyle">
            <tr>
                <td nowrap="nowrap">
                    <div>
                        Role
                    </div>
                    <div class="input-append">
                        <input type="text"
                               id="EmployeeCode"
                               name="txtEmpcode"
                               value="@Session["RoleView"]"
                               class="form-control"
                               style="display: block"
                               placeholder="Enter EmpCode" readonly="readonly" />

                    </div>
                </td>

            </tr>

        </table>
    </div>

}
