@model IEM.Areas.MASTERS.Models.iem_mst_courier

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyle">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="CategoryID" id="_Couriergid" type="text"  data-val="true" value="@Model.courier_gid" />
            </td>
        </tr>

        <tr>
            <td>
                <span> Courier Name </span>
            </td>
        </tr>
        <tr>
            <td>
                <div id="txtCategoryName">
                    <input name="CategoryeName" id="_Couriername" maxlength="32" type="text" class="textboxStyle required" data-val="true" value="@Model.courier_name" />
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="right">
               
                <input type="button" class="btn btn-warning" value="Close" onclick="GotoIndex()" />
            </td>
        </tr>
    </table>

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#_Couriername:input').attr('disabled', true);       
    });
</script>
<script type="text/javascript">
    function Update() {

        var courierkname = $("#_Couriername").val();
        var couriergid = $("#_Couriergid").val();
        if (courierkname == "") {
            alert("Invalid Courier Name.");
            return false;
        }
        var CategoryModel = { "courier_gid": couriergid, "courier_name": courierkname };
        $.post('../IEM_COURIER/UpdateCourierDetails', CategoryModel,
        function (data) { if (data == 0) { location = location.href; } else { location = '../IEM_COURIER/Index'; } }, 'json');
            }
    function GotoIndex() {
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
</script>
