@model IEM.Areas.IFAMS.Models.deviationassetcodechange
@using IEM.Areas.IFAMS.Models;
@using IEM.Common;
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "verificationimport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b>
    <span style="color: rgb(52, 108, 196);">Deviation Asset Code Change</span>
</b>
<br /> <br />
<div class="well">
    <div class="panel panel-default">
        <div class=" row">
            <div class="col-sm-9">

                <table class="myTableStyleTabNew" align="center">

                    <tr>
                        <td style="padding-left:250px;">
                            <span>File Name</span>
                            <form>
                                <input class="textboxStyleSearch" type="file">
                            </form>
                        </td>

                        <td style="padding-top:20px;">
                            <button class="btn btn-primary" value="Download Template" onclick=""><span style="color:white;"></span> Download Template</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:250px;">
                            <span>
                                Sheet Name

                                @Html.DropDownListFor(model => model.Sheetname, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "textboxStyleSearch", @id = "ddlSheetname", @name = "ddlSheetname" })
                            </span>
                        </td>

                        <td style="padding-top:20px;">

                            <button class="btn btn-primary" value="Upload" onclick=""><span style="color:white;"></span> Upload</button>&nbsp;
                            &nbsp;<button onclick="" class="btn btn-warning" value="cancel"><span style="color:white;"></span> Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>