@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/asms/ui-bootstrap-tpls-0.11.0.js"></script>
<div class="pageHeadingLayout">
    <span class="pageHeading">My Approved List Details Report</span>
</div>
<div class="well" style="padding: 1px 1px 0px 1px;">
    <div ng-app="myApp">
        <div ng-controller="PageCtrl">
            <div>
                <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;font-family:Tahoma;">
                    <thead style="width:100%;">
                        <tr>
                            <th class="thfix" style="display:none;">
                                ecf Gid
                            </th>
                            <th class="thfix" style="display:none;">
                                ecf Gid
                            </th>
                            <th class="thfix" style="width:4%;">
                                S.No
                            </th>
                            <th class="thfix" style="width:11%;">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'ECFNo'; sortReversemyreq = !sortReversemyreq">
                                    ECF No
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFNo' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFNo' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input type="text" class="textboxStyle" ng-model="search.ECFNo">
                            </th>
                            <th class="thfix" style="width:9.5%;">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'ECFDate'; sortReversemyreq = !sortReversemyreq">
                                    ECF Date
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFDate' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFDate' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input id="txtctdispath" type="text" class="textboxStyle" ng-model="search.ECFDate">
                            </th>
                            <th class="thfix" style="width:10%;">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'ECFAmount'; sortReversemyreq = !sortReversemyreq">
                                    ECF Amount
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFAmount' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFAmount' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input type="text" id="txtAmount" class="textboxStyle" ng-model="search.ECFAmount">
                            </th>
                            <th class="thfix" style="width:15%;">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'ECFRaiser'; sortReversemyreq = !sortReversemyreq">
                                    ECF Raiser
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFRaiser' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'ECFRaiser' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input type="text" class="textboxStyle" ng-model="search.ECFRaiser">
                            </th>
                            <th class="thfix" style="width:12%;">
                                Claim Type<br />
                                <select class="textboxStyle" ng-model="search.DocSubTypeName">
                                    <option value="">ALL</option>
                                    <option value="Employee Claim - Regular">Employee Claim - Regular</option>
                                    <option value="Employee Claim - Local Coveyance">Employee Claim - Local Coveyance</option>
                                    <option value="Employee Claim - Travel">Employee Claim - Travel</option>
                                    <option value="Supplier Invoice">Supplier Invoice</option>
                                    <option value="Supplier Invoice - DSA">Supplier Invoice - DSA</option>
                                    <option value="Employee Advance Request">Employee Advance Request</option>
                                    <option value="Supplier Advance Request">Supplier Advance Request</option>
                                    <option value="Employee Petty Cash">Employee Petty Cash</option>
                                    <option value="Rent/Lease Advance">Rent/Lease Advance</option>
                                </select>
                            </th>
                            <th class="thfix" style="width:15.2%;">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'SupplierorEmployeename'; sortReversemyreq = !sortReversemyreq">
                                    Supplier/Employee Name
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'SupplierorEmployeename' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'SupplierorEmployeename' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input type="text" class="textboxStyle" ng-model="search.SupplierorEmployeename">
                            </th>
                            <th class="thfix" style="display:none;">
                                ecf Status
                            </th>
                            <th style="width:8.7%;" class="thfix">
                                <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'Reason'; sortReversemyreq = !sortReversemyreq">
                                    Action Date
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Reason' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                                    <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Reason' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <br />
                                <input type="text" class="textboxStyle" ng-model="search.Reason">

                            </th>
                            <th class="thfix">
                                Action Status<br />
                                <select class="textboxStyle" ng-model="search.DocTypeName">
                                    <option value="">ALL</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                    <option value="Hold">Hold</option>
                                    <option value="Hold Release">Hold Release</option>
                                    <option value="Inprocess">Inprocess</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Concurrent Approved Rejected">Concurrent Approved Rejected</option>
                                    <option value="Sent for Concurrent approval">Sent for Concurrent approval</option>
                                    <option value="Concurrent Approved">Concurrent Approved</option>
                                    <option value="Concurrent Not Applicable">Concurrent Not Applicable</option>
                                </select>
                            </th>

                            <th class="thfix" style="width:7.2%;">Action</th>
                        </tr>
                    </thead>
                </table>
                <div style="height: 600px;overflow-y: scroll;">
                    <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;table-layout: fixed;font-family:Tahoma;">
                        <tbody ng-show="filtered.length!=0" ng-repeat="item in filtered = items| orderBy:sortTypemyreq:sortReversemyreq | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" style="width:100%;">
                            <tr>
                                <td class="tdfix" style="display:none;">
                                    {{item.QueueId}}
                                </td>
                                <td class="tdfix" style="display:none;">
                                    {{item.ECFId}}
                                </td>
                                <td class="tdfix" style=" width:4%;" align="center">
                                    {{$index+1}}
                                </td>
                                <td class="tdfix" style="width: 11.1%; overflow: hidden;">
                                    <a id="idview" onclick="ReportLogRaiseViewecf(this)" title={{item.ECFDate}}>
                                        <span> {{item.ECFNo}}</span>
                                    </a>
                                </td>
                                <td class="tdfix" style=" width:9.63%;overflow: hidden;">
                                    <a id="idview" onclick="ReportLogRaiseViewecf(this)" title={{item.ECFDate}}>
                                        <span> {{item.ECFDate}}</span>
                                    </a>
                                </td>
                               
                                <td class="tdfix" style="width:10.15%;overflow: hidden;">
                                    <a id="idview" onclick="ReportLogRaiseViewecf(this)" title={{item.ECFAmount}}>
                                        <span> {{item.ECFAmount}}</span>
                                    </a>
                                </td>
                               
                                <td class="tdfix" style=" width:15.3%;overflow: hidden;">
                                    <span> {{item.ECFRaiser}}</span>
                                </td>
                                <td class="tdfix" style=" width:12.2%;overflow: hidden;">
                                    <span>{{item.DocSubTypeName}}</span>
                                </td>
                                <td class="tdfix" style=" width:15.48%;overflow: hidden;">
                                    <span> {{item.SupplierorEmployeename}}</span>
                                </td>
                                <td class="tdfix" style="display:none;">
                                    <span> {{item.ECFStatus}}</span>
                                </td>
                                <td class="tdfix" style="width:8.7%;overflow: hidden;">
                                    <span> {{item.Reason}}</span>
                                </td>
                                <td class="tdfix" style="overflow: hidden;">
                                    <span> {{item.DocTypeName}}</span>
                                </td>
                                <td class="tdfix" style="width:6%;" align="center">
                                    <a id="idview" onclick="ReportLogRaiseViewecf(this)" title="View">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="filtered.length==0">
                            <tr>
                                <td></td>
                                <td>No Records Found</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div ng-show="filtered.length>0">
                    <table style="width:100%;">
                        <tr>
                            <td style="color:#337ab7;font-weight:bold; padding-left:10px" align="left"> Total Records : <span>{{totalItems}} </span> of <span>{{filtered.length}} </span> </td>
                            <td align="right">
                                <pagination total-items="totalItems"
                                            ng-model="currentPage"
                                            page="currentPage"
                                            max-size="noofsetpages"
                                            boundary-links="true"
                                            items-per-page="entryLimit" class="pagination-sm" style="cursor:pointer;">
                                </pagination>
                            </td>
                            <td align="right" style="padding-right:1.2%;width:11%;padding-bottom:6px">
                                &nbsp;&nbsp;&nbsp;&nbsp;  <a style="height: 27px;padding-top: 2px;color:white;font-size:13px;" class="btn btn-primary glyphicon glyphicon-export" href="../ECF/Tomyapprovedlistexcel" data-modal="" id="reportDownloadExcel">
                                    Excel
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding:2px;" id="ForPartialViewecfview"></div>
<script>
    var app = angular.module('myApp', ['ui.bootstrap']);
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start;
                return input.slice(start);
            }
            return [];
        };
    });

    app.controller('PageCtrl', ['$scope', '$http', 'filterFilter', function ($scope, $http, filterFilter) {
        $http.get("../ECF/Tomyapprovedlist?" + new Date().getTime())
     .then(function (response) {
         $scope.items = response.data;
         $scope.search = {};
         $scope.resetFilters = function () {
             $scope.search = {};
         };
         $scope.currentPage = 1;
         $scope.totalItems = $scope.items.length;
         $scope.entryLimit = 100;
         $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
         $scope.noofsetpages = 5;
         $scope.$watch('search', function (newVal, oldVal) {
             $scope.filtered = filterFilter($scope.items, newVal);
             $scope.totalItems = $scope.filtered.length;
             $scope.noOfPages = Math.ceil($scope.totalItems / $scope.entryLimit);
             $scope.currentPage = 1;
             $scope.noofsetpages = 5;
         }, true);
     })
        .catch(function (response) {
            jAlert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText, "Information");
            return false;
            //alert('ERRORm : ' + response.status + '\r\n' + response.config.url + '\r\n' + response.statusText);
            console.error('Gists error', response.status, response.data);
        })
    .finally(function () {
        console.log("finally finished gists");
    });
    }]);

    $("#txtAmount").keyup(function (event) {
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        var currentval = $("#txtAmount").val();
        var testDecimal = testDecimals(currentval);
        if (testDecimal.length > 1) {
            currentval = currentval.slice(0, -1);
        }
        $("#txtAmount").val(replaceCommas(currentval));

    });

    function testDecimals(currentval) {
        var count;
        currentval.match(/\./g) === null ? count = 0 : count = currentval.match(/\./g);
        return count;
    }
    function replaceCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }

    $(document).keydown(function (e) {
        if (e.keyCode == 8 && e.target.tagName != 'INPUT' && e.target.tagName != 'TEXTAREA')
            e.preventDefault();
    });
    var objDialogyecfview;
    $(document).ready(function () {
        objDialogyecfview = $("[id$='ForPartialViewecfview']");
        objDialogyecfview.dialog({
            autoOpen: false,
            modal: true,
            show: 'fade-in',
            close: 'fade-out',
            width: 500,
            height: 500
        });
    });

    function ReportLogRaiseViewecf(element) {
        var row = $(element).closest('tr');
        var ecfnum = row.find('td:eq(0)').text();
        ecfnum = ecfnum.toString().trim();
        var ecfnume = row.find('td:eq(1)').text();
        ecfnume = ecfnume.toString().trim();
        var ecfstatusnew = row.find('td:eq(9)').text();
        ecfstatusnew = ecfstatusnew.toString().trim();
        if (ecfstatusnew == "Paid" || ecfstatusnew == "EPURejected" || ecfstatusnew == "EPUInproces" || ecfstatusnew == "Audit Maker" || ecfstatusnew == "Audit Checker" || ecfstatusnew == "Authorized") {
            var statustype = "";
            if (ecfstatusnew == "EPUInproces" || ecfstatusnew == "Audit Maker" || ecfstatusnew == "Audit Checker" || ecfstatusnew == "Authorized") {
                statustype = "0";
            }
            else if (ecfstatusnew == "EPURejected") {
                statustype = "1";
            }
            else if (ecfstatusnew == "Paid") {
                statustype = "2";
            }
            window.open("../MyDashDocdetails/FSDashboardLink?EcfGid=" + ecfnume + '&EcfStatus=' + statustype + '&' + new Date().getTime(), "_blank");
        }

        else {
            var url = '@Url.Action("LogViewecf", "ECF")?id=' + ecfnum + '&' + new Date().getTime();
            objDialogyecfview.load(url);
            objDialogyecfview.dialog({ title: 'ECF Details View', width: '1245', height: '700' });
            objDialogyecfview.dialog("open");
        }
    }
    function Saveecflogvieiws() {
        //objDialogyecfview.dialog("close");
        window.parent.jQuery('#ForPartialViewecfview').dialog('close');
    }
</script>