@model IEM.Areas.MASTERS.Models.EmployeeRelease

@{
    
}
<div>
    <table style="width:100%" class="myTableStyleTabpopup">
        <tr>
            <td style="max-width:220px;">
                <input type="hidden" name="txtFor" id="txtFor" />
                <span>Employee Code</span>
                <input type="text" name="txtEmployeeCodeRelease" id="txtEmployeeCodeRelease" class="textboxStyle" />
            </td>
            <td style="max-width:220px;">
                <span>Employee Name</span>
                <input type="text" name="txtEmployeeNameRelease" id="txtEmployeeNameRelease" class="textboxStyle" />
            </td>
            <td style="vertical-align:bottom;">
                <a onclick="SearchEmployeesRelease()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</a>
                <a onclick="RefreshEmployeesRelease()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>Refresh</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function SearchEmployeesRelease() {
        var EmployeeCode = $("#txtEmployeeCodeRelease").val();
        var EmployeeName = $("#txtEmployeeNameRelease").val();
        var objEmprelease = {
            "_EmployeeCode": EmployeeCode,
            "_EmployeeName": EmployeeName
        };
        $.post('../ReleaseEmp/FilterEmpRelease', objEmprelease,
        function (data) {

            $("#wgEmployeeList").load('../ReleaseEmp/SearchEmpRelease?listfor=search&' + new Date().getTime());
            
        }, 'json');
    }
    function RefreshEmployeesRelease() {
        $("#txtEmployeeCode").val("");
        $("#txtEmployeeName").val("");
        var EmployeeCode = $("#txtEmployeeCodeRelease").val();
        var EmployeeName = $("#txtEmployeeNameRelease").val();
        var objEmprelease = {
            "_EmployeeCode": EmployeeCode,
            "_EmployeeName": EmployeeName
        };
        $.post('../ReleaseEmp/FilterEmpRelease', objEmprelease,
        function (data) {
            if (data == 0) { location = location.href; } else {
                $("#wgEmployeeList").load('../ReleaseEmp/SearchEmpRelease?listfor=refresh&' + new Date().getTime());
            }
        }, 'json');
    }
    </script>