@model IEM.Areas.MASTERS.Models.iem_mst_cityclass
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="myTableStyleTabNew" style="width:100%;">
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtTypeName">
                    <span>City Class Code </span>
                    <br />
                    <input name="CategoryName" id="_Cityclasscode" 
                            class="fstextbox  required" maxlength="8" type="text" data-val="true" value="" />
                </div>
            </td>
        </tr>

        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;">
                <div id="txtTypeName">
                    <span>City Class Name</span>
                    <br />
                    <input name="CategoryName" id="_CityclassName" type="text"
                           class="fstextbox  required" maxlength="64" data-val="true" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:100%; padding:0px 10px 0px 3px;text-align:center; ">
                    <button type="button" id="_save" disabled="disabled" class="btn btn-primary" value="Save" onclick="SAVE()" 
                            style="margin-top:20px;">
                <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save</button>
              
                <button type="button" class="btn btn-warning" value="Cancel" onclick="GotoIndex()" style="margin-top:20px;">
                    <span style="color:white;font-size:12px;" class="glyphicon glyphicon-remove-sign"></span> Cancel
                </button>
                
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#_Cityclasscode").focus();
        });

        $("#_Cityclasscode").focus();
        $("#_Cityclasscode").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_CityclassName").focus();
        $("#_CityclassName").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#_Cityclasscode").keyup(function () {
            var txtSupplierName = $("#_Cityclasscode").val();
            if (txtSupplierName.trim() != "") {
                $("#_Cityclasscode").removeClass('required');
                $("#_Cityclasscode").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#_Cityclasscode").removeClass('valid');
                $("#_Cityclasscode").addClass('required');
                CheckFieldsHeader();
            }
        });

        $("#_CityclassName").keyup(function () {
            var txtSupplierName = $("#_CityclassName").val();
            if (txtSupplierName.trim() != "") {
                $("#_CityclassName").removeClass('required');
                $("#_CityclassName").addClass('valid');
                CheckFieldsHeader();
            }
            else {
                $("#_CityclassName").removeClass('valid');
                $("#_CityclassName").addClass('required');
                CheckFieldsHeader();
            }
        });


    });
</script>
<script type="text/javascript">
    function SAVE() {
        var cityclass_code = $("#_Cityclasscode").val().trim();
        var cityclass_name = $("#_CityclassName").val().trim();



        if (cityclass_code == "") {

            jAlert("Please Enter City Class Code.", "Information")

            $("#_Cityclasscode").focus();
            return false;

        }
        if (cityclass_name == "") {

            jAlert("Please Enter City Class Name.", "Information")

            $("#_CityclassName").focus();
            return false;

        }

        var CategoryModel = { "cityclass_code": cityclass_code, "cityclass_name": cityclass_name };
        $.post('../IEM_CITYCLASS/Create', CategoryModel,
            function (data) {

                if (data != "success") {

                    jAlert(data, "Information", function (r) {
                        if (r == true) {
                            return false;
                        }
                    });

                }
                else {

                    if (data == "success") {
                        jAlert("Record Inserted Successfully !", "Information", function (r) {
                            if (r == true) {
                                location = '../IEM_CITYCLASS/Index';
                            }
                        });
                    }


                }
            }
        , 'json');

    }
    function GotoIndex() {

        window.parent.jQuery('#ForPartialView').dialog('close');
    }
    function CheckFieldsHeader() {

        var ErrCount = 0;
        if ($("#_Cityclasscode").val().trim() == "" || $("#_Cityclasscode").val() == null) {
            ErrCount = 1;
        }
        if ($("#_CityclassName").val().trim() == "" || $("#_CityclassName").val() == null) {
            ErrCount = 2;
        }
        if (ErrCount == 0) {
            $("#_save").removeAttr('disabled');
        }
        else {
            $("#_save").attr('disabled', 'disabled');
        }
    }

</script>







