@model IEM.Areas.MASTERS.Models.iem_mst_cityclass

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table class="myTableStyle">
        <tr>
            <td colspan="2" style="display:none;">
                <input name="CategoryID" id="_Cityclassgid" type="text" placeholder="Bank GID" data-val="true" value="@Model.cityclass_gid" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Are you sure want to delete this Category?
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="button" class="btn btn-danger" value="YES" onclick="DeleteConfirm()" />
                <input type="button" class="btn btn-primary" value="NO" onclick="GotoIndex()" />
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    function DeleteConfirm() {
        var cityclass_gid = $("#_Cityclassgid").val();

        var classificationModel = { "cityclass_gid": cityclass_gid };
       
        $.post('../IEM_CITYCLASS/DeleteCityClassDetails', classificationModel,

        function (data) {
            if (data == 0) {
                location = location.href;
                alert(location);
            }

            else { location = '../IEM_CITYCLASS/Index'; }
        }, 'json');
    }
    //function DeleteConfirm(id) {

    //           if (confirm("Do you want to delete Bank: ")) {
    //               var custmodel = { "_bank_gid": id }
    //               $.post('/IEM_BANK/DeleteBankDetails', custmodel,
    //    function (data) { if (data == 0) { location = location.href; } else { location = '/IEM_BANK/Index'; } }, 'json');

    //           }
    //       }
    function GotoIndex() {
        window.parent.jQuery('#ForPartialView').dialog('close');
    }
</script>

