@model IEM.Areas.ASMS.Models.SupplierTaxDetails

<div>
    <div id="divVatDetails">
        <fieldset>
            <legend>VAT DETAILS</legend>
            <center>
                <div id="vatdiv">
                    @Html.Partial("VatFields")
                </div>
                <div id="vatgid">
                    @Html.Partial("VatDetails")
                </div>
            </center>
            <br />
            @*<div style="text-align:right;">
                <a name="btnCloseVatDetails" id="btnCloseVatDetails" class="btn btn-warning" onclick="GotoTaxDetailsIndex()" ><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span> Cancel</a>
            </div>*@
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    var viewmode; 
    $(document).ready(function () {
        $("#wgridVat td:nth-child(1),#wgridVat th:nth-child(1)").hide();
        $("#wgridVat td:nth-last-child(1)").show();
        viewmode = '@ViewBag.vatviewmode';
        if (viewmode == "view") {
            $("#vatdiv").css("display", "none");
            $("#wgridVat td:nth-child(5),#wgridVat th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#vatdiv").css("display", "block");
            $("#wgridVat td:nth-child(5),#wgridVat th:nth-child(5)").show();
        }
    });
    function DummyFunction13() {
        $("#wgridVat td:nth-child(1),#wgridVat th:nth-child(1)").hide();
        $("#wgridVat td:nth-last-child(1)").show();
        if (viewmode == "view") {
            $("#wgridVat td:nth-child(5),#wgridVat th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#wgridVat td:nth-child(5),#wgridVat th:nth-child(5)").show();
        }
    }
</script>