@model IEM.Areas.FLEXIBUY.Models.CbfSumEntity

<div>
    <div id="divPARAttachmentIndex">
        <fieldset>
            <legend>CBF ATTACHMENTS</legend>
            <center>
                <input type="hidden" name="hidInlineAttachmentGid" id="hidInlineAttachmentGid" value="@ViewBag.InlineAttachmentGid" />
                <div id="parattachmentdiv">
                    @Html.Partial("PARAttachmentFields")
                </div>
                <div id="parattachmentgrid">
                    @Html.Partial("PARAttachmentDetails")
                </div>
            </center>
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    var viewmode = '@ViewBag.cbfattachmentviewmode';
    $("#wgridPARAttachment td:nth-child(1),#wgridPARAttachment th:nth-child(1)").hide();
    $("#wgridPARAttachment td:nth-last-child(1)").show();
    $(document).ready(function () {

        $("#wgridPARAttachment td:nth-child(1),#wgridPARAttachment th:nth-child(1)").hide();
        $("#wgridPARAttachment td:nth-last-child(1)").show();
        if (viewmode == "view") {
            $("#parattachmentdiv").css("display", "none");
            $("#wgridPARAttachment td:nth-child(5),#wgridPARAttachment th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#parattachmentdiv").css("display", "block");
            $("#wgridPARAttachment td:nth-child(5),#wgridPARAttachment th:nth-child(5)").show();
        }
    });
    function DummyFunction2020() {
        $("#wgridPARAttachment td:nth-child(1),#wgridPARAttachment th:nth-child(1)").hide();
        $("#wgridPARAttachment td:nth-last-child(1)").show();
        if (viewmode == "view") {
            $("#parattachmentdiv").css("display", "none");
            $("#wgridPARAttachment td:nth-child(5),#wgridPARAttachment th:nth-child(5)").hide();
        }
        else if (viewmode == "edit") {
            $("#parattachmentdiv").css("display", "block");
            $("#wgridPARAttachment td:nth-child(5),#wgridPARAttachment th:nth-child(5)").show();
        }
    }
</script>