@model IEM.Areas.MASTERS.Models.SeededCategories

@if (Model.Categories.Where(s => s.Parent_ID == Model.Seed).Any())
{
    <ul>
        @foreach (var node in Model.Categories)
        {
            if (node.Parent_ID == Model.Seed)
            {
                IEM.Areas.MASTERS.Models.SeededCategories inner = new IEM.Areas.MASTERS.Models.SeededCategories { Seed = node.ID, Categories = Model.Categories };
                <li>
                    <a href="?@node.ID">@node.Name</a>
                    @*@Html.Partial("_TreeCategories", inner)*@
                </li>
            }
        }
    </ul>
}