@model IEM.Areas.MASTERS.Models.Entity_taxgst
@using IEM.Areas.MASTERS.Models
@using IEM.Common
@{
    WebGrid grid = new WebGrid(source: Model.GSTAuditList, canPage: false, canSort: false);
    int id = grid.PageIndex;
}
 

<div class="table-responsive" style="margin-top:12px;">
    @grid.GetHtml(htmlAttributes: new { id = "gridId" }, mode: WebGridPagerModes.All,  
                tableStyle: "tableSmall table-bordered table-hover",
                columns: grid.Columns
                        (grid.Column(header: "S.No", style: "slno", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                         grid.Column("TaxSubtypeName", "Sub TypeName", style: "colmedium"),
                 grid.Column("hsnid", "HSN Code", style: "colmedium"),
                         grid.Column("Hsn_desc", "HSN description", style: "colmedium"),
                         grid.Column("Statename", "State", style: "colmedium"),
                         grid.Column("Rate", "Tax Rate", style: "colmedium"),
                         grid.Column("inputcredit", "Inputcredit", style: "colmedium"),
                         grid.Column("effective_date", "Effective Date", style: "colmedium"),
                         grid.Column("effective_todate", "Effective ToDate", style: "colmedium"),
                         grid.Column("reverse_charge", "Reverse Charge", style: "colmedium"),
                         grid.Column("IpcdGLno", "InputcreditGL", style: "colmedium"),
                         grid.Column("reverse_charge", "Reverse Charge1", style: "colmedium"),
                         grid.Column("Remarks", "Remarks", style: "colmedium")
                 ))
</div>

<script type="text/javascript">
    $(document).ready(function () {
         
        

        $('#gridId').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");

        //$('#tab').find('tr').css('background', 'none');

    });

    //$(".ui-icon-closethick").click(function () {
    //    debugger;
    //    //window.parent.jQuery('#ForGSTPartialView').dialog('destroy');
    //    window.parent.jQuery('#ForGSTPartialView').dialog('close');
    //    //$('.ui-widget-overlay , .ui-dialog', window.parent.document).remove();
      
    //});


</script>