@using IEM.Areas.MASTERS.Models; 
@model  IEnumerable<IEM.Areas.MASTERS.Models.Entity_taxgst> 
@{    
    IEM_GST_TAX dm = new IEM_GST_TAX();
    List<Entity_taxgst> lst = new List<Entity_taxgst>();
    if (lst == null || lst.Count == 0)
    {
        lst = dm.historylist().ToList();
    } 
   // var grid = new WebGrid(canPage: true, rowsPerPage: 5, canSort: false, ajaxUpdateContainerId: "GSTHistorydetails");
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(lst); 
    int rowVal = 0;
}
<link href="@Url.Content("~/Content/Rmax_Site.css")" rel="stylesheet" type="text/css" />
 
<div class="well" style="padding:10px;">
    @*<div id="GSTHistorydetails" class="table-responsive" style="margin-top:10px; ">*@
        <div class="table-responsive" style="margin-top:10px; width:100%">
            @grid.GetHtml(
                        htmlAttributes: new { id = "GSTHistorydetails" },
                        tableStyle: "tableSmall table-bordered table-hover",
                    //mode: WebGridPagerModes.All,
                        columns:
                        grid.Columns
                        (
                            grid.Column("SNo", style: "sno", format: item => rowVal = rowVal + 1),
                                     grid.Column(header: "Action By", columnName: "Rolename", style: "address"),
                                     grid.Column(header: "Upload Date", columnName: "uploaddate", style: "address"),
                                     grid.Column(header: "Emp name", columnName: "Statename", style: "address"),
                                     grid.Column(header: "Upload No", columnName: "uploadno", style: "address"),
                                     grid.Column(header: "Filename", columnName: "upload_filename", style: "address"),
                                     grid.Column(header: "Upload Status", columnName: "Status", style: "address"),
                                     grid.Column(header: "Upload Remarks", columnName: "Remarks", style: "address")
                        ))
        </div>
    @*</div>*@



    @*<style type="text/css">
        .name {
            width: 30px;
        }

        .address {
            width: 250px;
        }

        .gid {
            visibility: hidden;
            width: 0px;
        }
    </style>*@

</div>


 
<script>
    var objDialog;
    $(document).ready(function () {

        $(function () {
            $("#txtFilter").focus();
        });


        $('#GSTHistorydetails tr th:nth-child(5)').addClass("nosort");
        $('#GSTHistorydetails').dataTable({
            "aoColumnDefs": [{
                "aTargets": ["nosort"],
                "bSortable": false
            }]
        }).css("width", "99%");


        $("#txtFilter").focus();
        $("#txtFilter").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#txtFilter1").focus();
        $("#txtFilter1").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
        $("#txtFilter2").focus();
        $("#txtFilter2").keypress(function (event) {
            return isSplAlphaNumeric(event, this);
        });
    });
</script>