@{
    ViewBag.Title = "ECFMyRequest";
}
<script>
    $(document).ready(function () {
        $("#idecfdate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
        });
    });
</script>
<div>
    <div ng-controller="PageCtrl">
        <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;font-family:Tahoma;">
            <thead style="width:100%;">
                <tr>
                    <th class="thfix" style="display:none;">
                        ecf Gid
                    </th>
                    <th class="thfix" style="width:4%;">
                        S.No
                    </th>
                    <th class="thfix" style="width:11%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'Docno'; sortReversemyreq = !sortReversemyreq">
                            ECF No
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Docno' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Docno' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input title="Enter ECF No" type="text" class="textboxStyle" ng-model="searchMyReq.Docno">
                    </th>
                    <th class="thfix" style="width:9.5%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'DocDate'; sortReversemyreq = !sortReversemyreq">
                            ECF Date
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'DocDate' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'DocDate' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input title="Enter ECF Date" type="text" id="idecfdate" class="textboxStyle" ng-model="searchMyReq.DocDate">
                    </th>
                    <th class="thfix" style="width:10%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'Docamount'; sortReversemyreq = !sortReversemyreq">
                            ECF Amount
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Docamount' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'Docamount' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input title="Enter ECF Amount" id="txtAmountr" type="text" class="textboxStyle" ng-model="searchMyReq.Docamount">
                    </th>
                    <th class="thfix" style="width:15%;">
                        ECF Raiser  <br />
                        <input title="Enter ECF Raiser Name" type="text" class="textboxStyle" ng-model="searchMyReq.raiserName">
                    </th>
                    <th class="thfix" style="width:19%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypemyreq = 'emporsupp'; sortReversemyreq = !sortReversemyreq">
                            Employee/Supplier Name
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'emporsupp' && !sortReversemyreq" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypemyreq == 'emporsupp' && sortReversemyreq" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input title="Enter Employee/Supplier Name" type="text" class="textboxStyle" ng-model="search.emporsupp">
                    </th>
                    <th class="thfix" style="width:12%;">
                        ECF Claim Type<br />
                        <select class="textboxStyle" ng-model="searchMyReq.DocTypeName" title="Select ECF Claim Type">
                            <option value="">ALL</option>
                            <optgroup label="Employee Claims">
                                <option value="General Claims">General Claims</option>
                                <option value="Bulk Conveyance">Bulk Conveyance</option>
                                <option value="Travel Claim">Travel Claim</option>
                                <option value="Petty Cash">Petty Cash</option>
                            </optgroup>
                            <optgroup label="Supplier Invoice">
                                <option value="Regular Invoice">Regular Invoice</option>
                                <option value="DSA Suppliers">DSA Suppliers</option>
                            </optgroup>
                            <optgroup label="Advance Request">
                                <option value="Employee Advance">Employee Advance</option>
                                <option value="Supplier Advance">Supplier Advance</option>
                            </optgroup>
                        </select>
                    </th>
                    <th class="thfix" style="width:13%;">
                        ECF Status<br />
                        <select class="textboxStyle" ng-model="searchMyReq.StatusTypeName" title="Select ECF Status">
                            <option value="">ALL</option>
                            <option value="Draft">Draft</option>
                            <option value="Inprocess">Inprocess</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Approved">Approved</option>
                            <option value="EPU Inprocess">EPU Inprocess</option>
                            <option value="EPU Rejected">EPU Rejected</option>
                            <option value="Paid">Paid</option>
                            <option value="Hold">Hold</option>
                        </select>
                    </th>
                    <th class="thfix">
                        ECF Description<br />
                        <input title="Enter ECF Description" type="text" class="textboxStyle" ng-model="searchMyReq.ecfdescription">
                    </th>
                    <th class="thfix" style="display:none;">
                        ecf Gid print
                    </th>
                    <th class="thfix" style="width:13.2%;">Action</th>
                </tr>
            </thead>
        </table>
        <div style="height: 550px;overflow-y: scroll;">
            <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;table-layout: fixed;font-family:Tahoma;">
                <tbody ng-show="filtered1.length!=0" ng-repeat="item in filtered1 = itemsMyReq| orderBy:sortTypemyreq:sortReversemyreq | filter:searchMyReq | startFrom:(currentPage1-1)*entryLimit1 | limitTo:entryLimit1" style="width:100%;">
                    <tr>
                        <td class="tdfix" style="display:none;">
                            {{item.Docnogid}}
                        </td>
                        <td class="tdfix" style=" width:4%;" align="center">
                            {{$index+1}}
                        </td>
                        <td class="tdfix" title="{{item.Docno}}" style=" width:11.28%;overflow: hidden;">
                            <span> {{item.Docno}}</span>
                        </td>
                        <td class="tdfix" title="{{item.DocDate}}" style=" width:9.63%;overflow: hidden;">
                            <span> {{item.DocDate}}</span>
                        </td>
                        <td class="tdfix" title="{{item.Docamount}}" style=" width:10.2%;overflow: hidden;">
                            <span> {{item.Docamount}}</span>
                        </td>
                        <td class="tdfix" title="{{item.raiserName}}" style=" width:15.3%;overflow: hidden;">
                            <span> {{item.raiserName}}</span>
                        </td>
                        <td title="{{item.emporsupp}}" class="tdfix" style=" width:19.15%;overflow: hidden;">
                            <span> {{item.emporsupp}}</span>
                        </td>
                        <td class="tdfix" title="{{item.DocTypeName}}" style=" width:12%;overflow: hidden;">
                            <span>{{item.DocTypeName}}</span>
                        </td>
                        <td class="tdfix" title="{{item.StatusTypeName}}" style=" width:13.2%;overflow: hidden;">
                            <span> {{item.StatusTypeName}}</span>
                        </td>
                        <td class="tdfix" title="{{item.ecfdescription}}" style="overflow: hidden;">
                            <span> {{item.ecfdescription}}</span>
                        </td>
                        <td class="tdfix" style="display:none;">
                            {{item.Doctypeid}}
                        </td>
                        <td class="tdfix" style="width:12%;" align="center">
                            <a id="idprint" onclick="PrintDoc(this)" class="{{item.ecfprint}}" title="Print">
                                <span class="not-active glyphicon glyphicon-print"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a id="idview" onclick="ViewDoc(this)" class="{{item.ecfview}}" title="View">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a id="idselect" onclick="SelectDoc(this)" class="{{item.ecfselect}}" title="Select">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a id="idselecttcket" onclick="RaiseTicketmyreq(this)" class="{{item.ecfview}}" title="Raise Tickets">
                                <span class="glyphicon glyphicon-tags"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="filtered1.length==0">
                    <tr>
                        <td colspan="11" style="text-align:left;"><div class="gridMessage" style="width:100%; border:none;"><center>No Records Found</center></div></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div ng-show="filtered1.length>0">
            <table style="width:100%;">
                <tr>
                    <td style="padding-left:10px" align="left"> <div class="gridCount" style="text-align:left; font-size:14px;">Total Records : {{totalItems1}}  of {{filtered1.length}}</div></td>
                    <td align="right">
                        <pagination total-items="totalItems1"
                                    ng-model="currentPage1"
                                    page="currentPage1"
                                    max-size="noofsetpages1"
                                    boundary-links="true"
                                    items-per-page="entryLimit1" class="pagination-sm" style="cursor:pointer;font-size:14px;">
                        </pagination>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
