@{
    ViewBag.Title = "ECFMyRequestcrmkr";
}
<script>
    $(document).ready(function () {
        $("#idecfdatemkr").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            maxDate: '-id',
        });
    });
</script>
<div>
    <div ng-controller="PageCtrl">
        <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;font-family:Tahoma;">
            <thead style="width:100%;">
                <tr>
                    <th class="thfix" style="display:none;">
                        ecf Gid
                    </th>
                    <th class="thfix" style="display:none;">
                        ecf status
                    </th>
                    <th class="thfix" style="display:none;">
                        queue gid
                    </th>
                    <th class="thfix" style="width:4%;">
                        S.No
                    </th>
                    <th class="thfix" style="width:11.25%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypectmkr = 'Docno'; sortReversectmkr = !sortReversectmkr">
                            ECF No
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'Docno' && !sortReversectmkr" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'Docno' && sortReversectmkr" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input type="text" class="textboxStyle" ng-model="searchCentralmka.Docno">
                    </th>
                    <th class="thfix" style="width:9.5%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypectmkr = 'DocDate'; sortReversectmkr = !sortReversectmkr">
                            ECF Date
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'DocDate' && !sortReversectmkr" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'DocDate' && sortReversectmkr" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input id="idecfdatechkr" type="text" class="textboxStyle" ng-model="searchCentralmka.DocDate">
                    </th>
                    <th class="thfix" style="width:10.3%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypectmkr = 'Docamount'; sortReversectmkr = !sortReversectmkr">
                            ECF Amount
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'Docamount' && !sortReversectmkr" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'Docamount' && sortReversectmkr" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input type="text" id="txtAmountm" class="textboxStyle" ng-model="searchCentralmka.Docamount">
                    </th>
                    <th class="thfix" style="width:29.6%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypectmkr = 'SupplierName'; sortReversectmkr = !sortReversectmkr">
                            Supplier Name
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'SupplierName' && !sortReversectmkr" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'SupplierName' && sortReversectmkr" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input type="text" class="textboxStyle" ng-model="searchCentralmka.SupplierName">
                    </th>
                    <th class="thfix" style="width:15.1%;">
                        <a style="text-decoration: none;" href="#" ng-click="sortTypectmkr = 'emporsupp'; sortReversectmkr = !sortReversectmkr">
                            Raiser Name
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'emporsupp' && !sortReversectmkr" class="glyphicon glyphicon-chevron-down"></span>
                            <span style="font-size: 12px;color:white;" ng-show="sortTypectmkr == 'emporsupp' && sortReversectmkr" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <br />
                        <input type="text" class="textboxStyle" ng-model="searchCentralmka.emporsupp">
                    </th>
                    <th class="thfix" style="width:10%;">
                        ECF Status<br />
                        <select class="textboxStyle" ng-model="searchCentralmka.ecfstatus">
                            <option value="">ALL</option>
                            <option value="CT Draft">CT Draft</option>
                            <option value="CT - Rejected">CT - Rejected</option>
                            <option value="Raiser - Rejected">Raiser - Rejected</option>
                        </select>
                    </th>
                    <th class="thfix" style="width:11.2%;">Action</th>
                </tr>
            </thead>
        </table>
        <div style="height: 550px;overflow-y: scroll;">
            <table class="tableSmall table-bordered table-hover table-responsive tablefix" style="width:100%;table-layout: fixed;font-family:Tahoma;">
                <tbody ng-show="filtered4.length!=0" ng-repeat="item in filtered4 = itemsCentralmkar| orderBy:sortTypectmkr:sortReversectmkr | filter:searchCentralmka | startFrom:(currentPage4-1)*entryLimit4 | limitTo:entryLimit4" style="width:100%;">
                    <tr>
                        <td class="tdfix" style="display:none;">
                            {{item.Docnogid}}
                        </td>
                        <td class="tdfix" style="display:none;">
                            {{item.ecfstatus}}
                        </td>
                        <td class="tdfix" style="display:none;">
                            {{item.InwardId}}
                        </td>
                        <td class="tdfix" style=" width:4.05%;" align="center">
                            {{$index+1}}
                        </td>
                        <td title="{{item.Docno}}" class="tdfix" style=" width:11.38%;overflow: hidden;">
                            <a id="idECFGidselect" onclick="Selectctmkr(this)" class="{{item.Docnogid}}" title="Select">
                                <span> {{item.Docno}}</span>
                            </a>                            
                        </td>
                        <td title="{{item.DocDate}}" class="tdfix" style=" width:9.66%;overflow: hidden;">
                            <a id="idECFGidselect" onclick="Selectctmkr(this)" class="{{item.DocDate}}" title="Select">
                                <span> {{item.DocDate}}</span>
                            </a>    
                        </td>
                        <td title="{{item.Docamount}}" class="tdfix" style=" width:10.5%;overflow: hidden;">
                            <a id="idECFGidselect" onclick="Selectctmkr(this)" class="{{item.Docamount}}" title="Select">
                                <span> {{item.Docamount}}</span>
                            </a>    
                        </td>
                        <td title="{{item.SupplierName}}" class="tdfix" style=" width:30%;overflow: hidden;">
                            <span> {{item.SupplierName}}</span>
                        </td>
                        <td title="{{item.emporsupp}}" class="tdfix" style=" width:15.3%;overflow: hidden;">
                            <span> {{item.emporsupp}}</span>
                        </td>
                        <td title="{{item.ecfstatus}}" class="tdfix" style=" width:10.2%;overflow: hidden;">
                            <span> {{item.ecfstatus}}</span>
                        </td>
                        <td class="tdfix" style="width:10%;" align="center">
                            <a id="idselect" onclick="Selectctmkr(this)" class="{{item.ecfselect}}" title="Select">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </a>
                            @*class="{{item.ecfview}}"*@
                            <a id="idselect" onclick="CtDraftDelete(this)" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="filtered4.length==0">
                    <tr>
                        <td colspan="10" style="text-align:left;"><div class="gridMessage" style="width:100%; border:none;"><center>No Records Found</center></div></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div ng-show="filtered4.length>0">
            <table style="width:100%;">
                <tr>
                    <td style="padding-left:10px" align="left"> <div class="gridCount" style="text-align:left; font-size:14px;">Total Records : {{totalItems4}}  of {{filtered4.length}}</div></td>
                    <td align="right">
                        <pagination total-items="totalItems4"
                                    ng-model="currentPage4"
                                    page="currentPage4"
                                    max-size="noofsetpages4"
                                    boundary-links="true"
                                    items-per-page="entryLimit4" class="pagination-sm" style="cursor:pointer;font-size:14px;">
                        </pagination>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
