@model IEM.Areas.IFAMS.Models.AssetVRModel
@using IEM.Areas.IFAMS.Models
@using IEM.Common
@{
    AssetVRModel objaudit = new AssetVRModel();
    IfamsAssetVRDataModel_M VRModel = new IfamsAssetVRDataModel_M();
    objaudit.assetdetId = Convert.ToInt32(Session["AssetId"].ToString());
    if (objaudit.assetdetId != 0)
    {
        Model.auditTrailLst = VRModel.VRPopulateAuditTrail(objaudit); 
    }
    objaudit.auditTrailLst = Model.auditTrailLst;
    var auditGrid = new WebGrid(source: Model.auditTrailLst, canSort: false, canPage: false, ajaxUpdateContainerId: "vrauditTrail", ajaxUpdateCallback: "vrauditTrailLst()");
    CmnFunctions objcmnFunctions = new CmnFunctions();
}
<div>
    <div>
        @auditGrid.GetHtml(
                          htmlAttributes: new { id = "sawgridDashboard" },
                                   tableStyle: "tableSmall table-bordered aligncenter",
                                   columns:
                                   auditGrid.Columns(
                                   auditGrid.Column(header: "S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(
                                   auditGrid.TotalRowCount / auditGrid.PageCount) / auditGrid.RowsPerPage) * auditGrid.RowsPerPage * auditGrid.PageIndex),
                                   auditGrid.Column("employee_code", "Employee ID-Name"),
                                   auditGrid.Column("action_date", "Action Date"),
                                   auditGrid.Column("queue_to_type", "Approval Stage"),
                                   auditGrid.Column("action_status", "Status"),
                                   auditGrid.Column("action_remarks", "Remarks")
                                   ))
        <div class="table-bordered btnCenter">
            @ViewBag.NoRecordsFound
        </div>
        @*<span class="myTableStyleTabNew">  Total No Of Records:@Model.auditTrailLst.Count</span>*@
    </div>
</div>

<script>
    $('#vridtab2').text('@Model.auditTrailLst.Count')
</script>

